@charset "utf-8";
/* CSS Document */

body {
	padding:0;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:12px;
	background:#ebebeb;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span {
	margin:0;
	padding:0;
}
* {
	margin:0;
	pdding:0;
}
div {
	margin:0px auto;
	text-align:left
}
ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
a:link {
	color: #3683B5;
	text-decoration: none;
}
a:hover {
	color: #f00;
	text-decoration:  underline;
}
img {
	border:0
}
#wrap {
	width:1000px;
	height:630px;
}
#header {
	width:100%;
	height:358px;
	background:url(images/top.jpg) no-repeat;
}
#container {
	width:100%;
	clear:both
}
#container #left {
	float:left;
	width:323px;
	height:230px;
	background: url(images/left.jpg) no-repeat;
}
#container #right {
	float:right;
	width:677px;
	height:230px;
	background: url(images/right.jpg) no-repeat;
}
#footer {
	width:100%;
	height:35px;
	background:#b0b8ce;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	clear:both
}
.content {
	padding:5px;
}
#member {
	margin:50px 30px 0 50px;
}
#member label {
	width:50px;
	display:inline-block;
	color:#0062a5;
	font-family:"微软雅黑";
}
.loginForm {
	margin-top: 10px;
}
.loginTh {
	font-size:14px;
	font-weight:bold
}
.loginInput {
	border: 1px solid #6788b5;
	font-size: 14px;
	font-weight: 700;
	height: 18px;
	ime-mode: disabled;
	line-height: 20px;
	padding: 4px;
	width: 172px;
}
.loginYzm {
	border: 1px solid #6788b5;
	font-size: 14px;
	font-weight: 700;
	height: 18px;
	ime-mode: disabled;
	line-height: 20px;
	padding: 4px;
	width: 95px;
}
#member img {
	margin-left:0px;
	margin-top:1px;
	margin-bottom:1px;
	vertical-align:middle
}
#member span {
	padding-left:0px
}
.loginBtn {
	background:url(images/btn.gif) no-repeat;
	width:68px;
	height:22px;
	border:0;
	margin-left:4px;
	cursor:pointer
}
.NewsBox {
	width:45%;
	padding:10px 15px 0 10px;
}
.flt {
	float: left
}
.frt {
	float: right
}
.titlebg {
	border:1px solid #a6c7e1;
	width:100%;
	height:22px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background:#c0d6e7
}
.title {
	font-family:"微软雅黑";
	font-size:14px;
	color:#0062a5;
	font-weight:bold;
	padding-left:10px;
	padding-top:1px;
}
.more {
	padding:6px 6px 0 0;
}
.news li {
	float:left;
	width:100%;
	line-height:25px;
}
.news li a {
	color: #333;
	float:left;
	background:url("images/arrow.gif") no-repeat 0 8px;
	padding-left:12px;
	text-align:left;
	width:68%;
	height: 25px;
	line-height: 25px;
	word-wrap:break-word;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
}
.error {
	font-size:14px;
	color:red;
	font-weight:bold;
}

