.Gen
{
   POSITION: relative
}
.heading
{
BACKGROUND: #f0f0f0;
COLOR: #000000
}
.HtmlEdit
{
BACKGROUND-COLOR: #F0F0F0;
POSITION: relative
}
.yToolbar
{
	BACKGROUND-COLOR: #F0F0F0;
	BORDER-BOTTOM: buttonshadow 1px solid;
	BORDER-LEFT: buttonhighlight 1px solid;
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonhighlight 1px solid;
	HEIGHT: 28px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
	width: 760px;

}
.Btn
{
BACKGROUND-COLOR: #F0F0F0;
BORDER-BOTTOM: buttonface 1px solid;
BORDER-LEFT: buttonface 1px solid;
BORDER-RIGHT: buttonface 1px solid;
BORDER-TOP: buttonface 1px solid;
HEIGHT: 24px;
POSITION: absolute;
TOP: 1px;
WIDTH: 24px
}
.Ico
{
LEFT: 3px;
POSITION: absolute;
TOP: 3px
}
.TBSep
{
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
FONT-SIZE: 0px;
HEIGHT: 22px;
POSITION: absolute;
TOP: 1px;
WIDTH: 1px
}
.TBGen
{
FONT: 9pt ו,verdana,arial,sans-serif;
HEIGHT: 22px;
POSITION: absolute;
TOP: 3px
}
.TBHandle
{
BACKGROUND-COLOR: #6687BA;
BORDER-LEFT: buttonhighlight 1px solid;
BORDER-RIGHT: buttonshadow 1px solid;
BORDER-TOP: buttonhighlight 1px solid;
FONT-SIZE: 1px;
HEIGHT: 22px;
POSITION: absolute;
TOP: 1px;
WIDTH: 3px
}
.BtnMouseOverUp
{
BACKGROUND-COLOR: #DAE8CA;
BORDER-BOTTOM: buttonshadow 1px solid;
BORDER-LEFT: buttonhighlight 1px solid;
BORDER-RIGHT: buttonshadow 1px solid;
BORDER-TOP: buttonhighlight 1px solid;
HEIGHT: 24px;
POSITION: absolute;
TOP: 1px;
WIDTH: 24px
}
.BtnMouseOverDown
{
BACKGROUND-COLOR: #DAE8CA;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
POSITION: absolute;
TOP: 1px;
WIDTH: 24px
}
.BtnDown
{
BACKGROUND-COLOR: #DAE8CA;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
POSITION: absolute;
TOP: 1px;
WIDTH: 24px
}
.IcoDown
{
HEIGHT: 16px;
LEFT: 4px;
POSITION: absolute;
TOP: 4px;
WIDTH: 16px
}
.IcoDownPressed
{
LEFT: 3px;
POSITION: absolute;
TOP: 3px
}
