#foreach($queryKey in $cfg.namedQueries.keySet())
#set ($queryDef = $cfg.namedQueries.get($queryKey))
    <query 
        name="$queryKey"
#if ($queryDef.flushMode)
        flush-mode="$queryDef.flushMode.toString().toLowerCase()"
#end
#if ($queryDef.isCacheable())
	    cacheable="$queryDef.isCacheable()"
#end
#if ($queryDef.cacheRegion)
	    cache-region="$queryDef.cacheRegion"
#end
#if ($queryDef.fetchSize)
        fetch-size="$queryDef.fetchSize"
#end
#if ($queryDef.timeout)
        timeout="$queryDef.timeout"
#end
    >
        <![CDATA[$queryDef.QueryString.trim()]]>
    </query>
    
#end
