#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .top_l {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_tl.gif) left
		top no-repeat;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .top_m {
	height: 10px;
	background:
		url(images/blk_jmpInfo01_tm.gif) left
		top repeat-x;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .top_r {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_tr.gif) left
		top no-repeat;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .middle_l {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_ml.gif) left
		top repeat-y;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .middle_m {
	margin: 0;
	padding: 5px 10px 10px 5px;
	background: #F1F9FF;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .middle_content {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	text-align: left;
	color: #000;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 h1 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	border-bottom: #94CEFD solid 1px;
	color: #000;
	width: 100%;
	line-height: 20px;
	text-align: left;
	font-weight: bold;
	overflow: hidden;
	font-family: Simsun;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .middle_r {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_mr.gif) left
		top repeat-y;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .bottom_l {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_bl.gif) left
		top no-repeat;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .bottom_m {
	height: 10px;
	background:
		url(images/blk_jmpInfo01_bm.gif) left
		top repeat-x;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 .bottom_r {
	width: 10px;
	height: 10px;
	background:
		url(images/blk_jmpInfo01_br.gif) left
		top no-repeat;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 span {
	line-height: 18px;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 ul li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: 18px;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 ol {
	margin-top: 5px;
}

#self_tuna_jmpinfo .pubJmpInfo_jmpInfo01 ol li {
	list-style: decimal inside none;
	line-height: 18px;
}

#self_tuna_jmpinfo .pubJmpInfo_romList01 {
	margin: 0;
	padding: 0;
	clear: both;
	background: #FFF;
	z-index: 1;
	border-top: 1px solid #B8DFFF;
	border-left: 1px solid #B8DFFF;
}

#self_tuna_jmpinfo .pubJmpInfo_romList01 th {
	padding: 5px;
	background: #F1F9FF;
	color: #000;
	text-align: center;
	line-height: 15px;
	height: 20px;
	border-right: 1px solid #B8DFFF;
	border-bottom: 1px solid #B8DFFF;
}

#self_tuna_jmpinfo .pubJmpInfo_romList01 td {
	text-align: center;
	border-right: 1px solid #B8DFFF;
	border-bottom: 1px solid #B8DFFF;
	line-height: 15px;
	padding: 8px 5px;
}

#self_tuna_jmpinfo .pubJmpInfo_romList01 .pubJmpInfo_romList01_pricecolor01 {
	color: #CF6000;
}

#self_tuna_jmpinfo .pubJmpInfo_shadow01 {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: -1;
	background: #EDEDED;
}