<?xml version="1.0"?>
<configuration>
    <appSettings>

        <!--  直连的DRTP 主机地址 10.253.42.200-->
        <add key="drtpHost" value="127.0.0.1"/>
        <!--DRTP 主机 的侦听端口号-->
        <add key="drtpPort" value="4000"/>
        <!--目标应用服务器连接的业务通讯平台节点编号 （参见业务通讯平台的配置参数表）-->
        <!--<add key="drtpBranch" value="7000" />-->
        <add key="drtpBranch" value="999"/>
        <!--目标应用服务器注册在业务通讯平台的功能号(参见BCC配置文件中的BASEFUNCNO)-->
        <!--<add key="baseFunction" value="600"/>-->
        <add key="baseFunction" value="6000"/>
        <!--模仿的操作员号-->
        <add key="impersonate" value="1234"/>
    </appSettings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
