<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>CMSServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.cms.servlet.CMSServlet</param-value>
		</init-param>
		<init-param>
			<param-name>redirects_conf</param-name>
			<param-value>cms-redirects</param-value>
		</init-param>
		<init-param>
			<param-name>redirects_enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CMSServlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
</web-app>