<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <filter>
    <filter-name>Login Filter</filter-name>
    <filter-class>com.kingstargroup.conference.filter.LoginFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.kingstargroup.conference.filter.SetEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>eXtremeExport</filter-name>
    <filter-class>org.extremecomponents.table.filter.ExportFilter</filter-class>
  </filter>
  <!-- ajaxanywhere-->
  <filter>
    <filter-name>AjaxAnywhere</filter-name>
    <filter-class>org.ajaxanywhere.AAFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>eXtremeExport</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Login Filter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <!-- ajaxanywhere-->
  <filter-mapping>
    <filter-name>AjaxAnywhere</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AjaxAnywhere</filter-name>
    <url-pattern>*.do</url-pattern>
    <!-- default Struts mapping -->
  </filter-mapping>
  <filter-mapping>
    <filter-name>AjaxAnywhere</filter-name>
    <url-pattern>*.htm</url-pattern>
    <!-- other framewords mapping-->
  </filter-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.kingstargroup.conference.common.InitServlet</servlet-class>
    <init-param>
      <param-name>time</param-name>
      <param-value>5</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.kingstargroup.conference.common.CaptchaServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- 
	<servlet>
	    <servlet-name>log4j-init</servlet-name>
	    <servlet-class>com.kingstargroup.conference.common.Log4jInit</servlet-class>
	    <init-param>
	      <param-name>log4j</param-name>
	      <param-value>/WEB-INF/classes/log4j.properties</param-value>
	    </init-param>
	    <load-on-startup>2</load-on-startup>
	</servlet>	
	-->
  <!-- define sender attendeelist auto -->
  <!-- 
	<servlet>
		<servlet-name>attendeelistsender</servlet-name>
		<servlet-class>com.kingstargroup.conference.mail.SenderServlet</servlet-class>
		<init-param>
			<param-name>time</param-name>
			<param-value>5</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	-->
  <!-- end of sender attendee define-->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/captcha/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>extremecomponents</taglib-uri>
    <taglib-location>/WEB-INF/extremecomponents.tld</taglib-location>
  </taglib>
  <!--配置数据源连接 -->
  <resource-ref>
    <res-ref-name>jdbc/conference</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>

