  <TD class="${c1}">&nbsp;</TD>
  <TD class="${c2}" onclick="window.location.replace('${followUp}');return;">
     <SPAN class="${t}"><a href="${followUp}">${title}</a></SPAN>
  </TD>
  <TD class="${c3}">&nbsp;</TD>
