<?xml version="1.0" encoding="gb2312"?>
<configuration>
  <debug scr=".\configure\Ini\debug.ini"/>
  <equipment scr=".\configure\xml\equipment.xml"/>
  <keyboard scr=".\configure\xml\keyboard.xml"/>
  <acceptCard scr=".\configure\xml\acceptcard.xml"/>
  <sysParameter scr=".\configure\xml\sysparameter.xml"/>
  <appList scr=".\configure\xml\applist.xml"/>
  <commParameters scr=".\configure\xml\commParameters.xml"/>
  <communication scr=".\configure\xml\communication.xml"/>
  <mainform scr=".\configure\xml\mainform.xml"/>
  <menuform scr=".\configure\xml\menuform.xml"/>
  <inputform scr=".\configure\xml\inputform.xml"/>
  <confirmform scr=".\configure\xml\confirmform.xml"/>
  <resultform scr=".\configure\xml\resultForm.xml"/>
  <showdetail scr=".\configure\ini\showdetail.ini"/>
  <otherdetail scr=".\configure\ini\otherdetail.ini"/>
  <structconfig scr=".\configure\xml\struct.xml"/>
  <shootcard scr=".\configure\xml\ShootCard.xml"/>
</configuration>