<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>oneks</display-name>

	<context-param>
		<param-name>uploadFilePath</param-name>
		<param-value>pages/upload/</param-value>
	</context-param>
	<context-param>
		<param-name>securityConfigPath</param-name>
		<param-value>WEB-INF/security/acl-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>indexPath</param-name>
		<param-value>WEB-INF/index/</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring/*.xml</param-value>
	</context-param>
    <context-param>    
        <param-name>extremecomponentsPreferencesLocation</param-name> 
        <param-value>/extremetable.properties</param-value>  
    </context-param>
    
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.king.framework.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Acl Filter</filter-name>
		<filter-class>org.king.security.web.filter.AclFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Compression Filter</filter-name>
		<filter-class>org.king.framework.web.filter.compression.CompressionFilter</filter-class>
		<init-param>
			<param-name>compressionThreshold</param-name>
			<param-value>10</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>

    <filter>
        <filter-name>eXtremeExport</filter-name>
        <filter-class>org.extremecomponents.table.filter.ExportFilter</filter-class>
    </filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Acl Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>eXtremeExport</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.king.security.web.listener.InitListener</listener-class>
	</listener>
	
	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts/struts-config.xml,/WEB-INF/struts/struts-config-security.xml,/WEB-INF/struts/struts-config-upload.xml,/WEB-INF/struts/struts-config-check-total.xml,/WEB-INF/struts/struts-config-check.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>webGui-init</servlet-name>
		<servlet-class>com.pow2.webgui.resources.WebGuiInit</servlet-class>
		<init-param>
			<param-name>webGui.prototypes.properties</param-name>
			<param-value>/WEB-INF/webgui/wgPrototypes.properties</param-value>
		</init-param>
		<init-param>
			<param-name>webGui.velocity.properties</param-name>
			<param-value>/WEB-INF/webgui/velocity.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CheckCodeImage</servlet-name>
		<servlet-class>org.king.security.web.servlet.CheckCodeImage</servlet-class>
	</servlet>
    
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
			<display-name>DWR Servlet</display-name>
			<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
		   <param-name>debug</param-name>
		   <param-value>true</param-value>
		</init-param>
	</servlet>

	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- CheckCode Image Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>CheckCodeImage</servlet-name>
		<url-pattern>/CheckCodeImage</url-pattern>
	</servlet-mapping>

    <!-- DWR Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	   <!--Error Page-->
     <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/pager</taglib-uri>
		<taglib-location>/WEB-INF/taglib/pager-taglib.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/pow2webgui</taglib-uri>
		<taglib-location>/WEB-INF/taglib/pow2webgui.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/fmt-rt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/c-rt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
		<taglib-location>/WEB-INF/taglib/sql.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/sql-rt.tld</taglib-location>
	</taglib>
	
	<taglib>
		<taglib-uri>http://www.extremecomponents.org</taglib-uri>
		<taglib-location>/WEB-INF/taglib/extremecomponents.tld</taglib-location>
	</taglib>
	
		<taglib>
		<taglib-uri>http://www.king.org/jodd_form</taglib-uri>
		<taglib-location>/WEB-INF/taglib/form_tag.tld</taglib-location>
	</taglib>

</web-app>

