    <version
        name="$property.name"
        type="$property.value.typeName"
#if(! $property.basicPropertyAccessor)
        access="$property.propertyAccessorName"
#end
#foreach($column in $property.columnIterator)
        column="$column.quotedName"
#end
	/>

