<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/conf/config.properties</value>
			</list>
		</property>
	</bean>

	<!-- DataSoure bean -->
	<!-- bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jdbc/freshmen</value>
		</property>
	</bean-->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${hibernate.connection.driver_class}" />
		<property name="url" value="${hibernate.connection.url}" />
		<property name="username" value="${hibernate.connection.username}" />
		<property name="password" value="${hibernate.connection.password}" />
		<property name="maxActive" value="100" />
		<property name="maxWait" value="3000" />
		<property name="maxIdle" value="20" />
		<property name="defaultAutoCommit" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="60" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Hibernate session factory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="mappingResources">
			<list>
				<value>org/king/security/domain/Account.hbm.xml</value>
				<value>org/king/security/domain/Role.hbm.xml</value>
				<value>org/king/security/domain/Resource.hbm.xml</value>
				<value>org/king/security/domain/Person.hbm.xml</value>
				<value>org/king/security/domain/Menu.hbm.xml</value>
				<value>org/king/security/domain/FirstpageAccess.hbm.xml</value>
				<value>org/king/security/domain/MainpageAccess.hbm.xml</value>
				<!--  class manage module -->
				<value>org/king/classmanage/domain/Collegemodel.hbm.xml</value>
				<value>org/king/classmanage/domain/Classmodel.hbm.xml</value>
				<value>org/king/classmanage/domain/Managermodel.hbm.xml</value>
				<value>org/king/classmanage/domain/Schoolmodel.hbm.xml</value>
				<value>org/king/classmanage/domain/Studentmodel.hbm.xml</value>
				<value>org/king/classmanage/domain/Collegemanager.hbm.xml</value>
				<value>org/king/classmanage/domain/Schoolmanager.hbm.xml</value>
				<value>org/king/classmanage/domain/Managerrole.hbm.xml</value>
				<value>org/king/classmanage/domain/Managermanagerrole.hbm.xml</value>
				<value>org/king/classmanage/domain/Classmanager.hbm.xml</value>
				<value>org/king/classmanage/domain/Dictionary.hbm.xml</value>
				<value>org/king/classmanage/domain/ClassAlertHis.hbm.xml</value>
				<value>org/king/classmanage/domain/StuInfoView.hbm.xml</value>
				<value>org/king/classmanage/domain/Department.hbm.xml</value>
				<value>org/king/classmanage/domain/DistributionTemp.hbm.xml</value>	
				<value>org/king/classmanage/domain/GzStuTemp.hbm.xml</value>	
				<value>org/king/classmanage/domain/GzDormApply.hbm.xml</value>
				<value>org/king/classmanage/domain/MenuTime.hbm.xml</value>		

				<!--  dormitory manage module -->
				<value>org/king/dormitorymanage/domain/Feemodel.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/Dormitorymodel.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/DormAlerthis.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/DormStuView.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/DormInfoView.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/AccomodationInfo.hbm.xml</value>

				<value>org/king/dormitorymanage/domain/DormStuViewHlxy.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/DormInfoViewHlxy.hbm.xml</value>
				<value>org/king/yangong/dormitorymanage/domain/DormStuViewYg.hbm.xml</value>
				
				<value>org/king/dormitorymanage/domain/DormExactStuView.hbm.xml</value>
								
				<!--  schedule manage module -->
				<value>org/king/schedulemanage/domain/Classschedulemodel.hbm.xml</value>
				<value>org/king/schedulemanage/domain/Collegeschedulemodel.hbm.xml</value>
				<!--  check in manage module -->
				<value>org/king/checkinmanage/domain/Stucheckininfo.hbm.xml</value>
				<value>org/king/checkinmanage/domain/Stuhealthinfo.hbm.xml</value>
				<value>org/king/checkinmanage/domain/Noticemodel.hbm.xml</value>
				<value>org/king/checkinmanage/domain/Stuarchivesinfo.hbm.xml</value>
				<value>org/king/checkinmanage/domain/Uploadfile.hbm.xml</value>
				<value>org/king/checkinmanage/domain/CheckinSubmin.hbm.xml</value>
				<value>org/king/checkinmanage/domain/StuFeeInfo.hbm.xml</value>
				<value>org/king/checkinmanage/domain/StuCardfeeInfo.hbm.xml</value>
				<value>org/king/checkinmanage/domain/StuCardfeeSubmit.hbm.xml</value>
				<!--  receive student in train station manage module -->
				<value>org/king/rcvmanage/domain/Stuarriveinfo.hbm.xml</value>
				
				<!--stu add del -->
                <value>org/king/classmanage/domain/StuAdddelhis.hbm.xml</value>
                <value>org/king/classmanage/domain/StudentSharedb.hbm.xml</value>
				
				<!-- 宿舍管理系统 -->
				<value>org/king/quarters/domain/TabSsDept.hbm.xml</value>
				<value>org/king/quarters/domain/TabSsManager.hbm.xml</value>
				<value>org/king/quarters/domain/TabSsQuarters.hbm.xml</value>
				<!-- 研工部 -->
				<value>org/king/yangong/dormitorymanage/domain/YxGraduate.hbm.xml</value>
				<value>org/king/classmanage/domain/ClassDorm.hbm.xml</value>
				<value>org/king/yangong/dormitorymanage/domain/GraduateType.hbm.xml</value>
				<value>org/king/yangong/dormitorymanage/domain/collegedormss.hbm.xml</value>
				<value>org/king/yangong/dormitorymanage/domain/YxGzdormapply.hbm.xml</value>
				<value>org/king/dormitorymanage/domain/DormDept.hbm.xml</value>
				<!-- 页面控制 -->
				<value>org/king/classmanage/domain/NHeaderSessionModel.hbm.xml</value>
				<value>org/king/classmanage/domain/NTableHeadModel.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="lobHandler">
			<ref local="myLobHandler" />
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- ************************** DAO SETTING *********************************-->

	<!-- ************************** Lob Handler SETTING ***********************-->
	<bean id="myLobHandler" class="org.king.framework.util.MyLobHandler">
		<property name="oracleLobHandler">
			<ref local="oracleLobHandler" />
		</property>
		<property name="defaultLobHandler">
			<ref local="defaultLobHandler" />
		</property>
		<property name="dataBaseType">
			<value>${hibernate.dialect}</value>
		</property>
	</bean>

	<bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler">
		<property name="nativeJdbcExtractor">
			<ref local="nativeJdbcExtractor" />
		</property>
	</bean>

	<bean id="defaultLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"></bean>

	<bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor"></bean>

	<bean id="kingConfig" class="org.king.framework.util.KingConfig">
		<property name="uploadFilePath">
			<value>pages/upload/</value>
		</property>
		<property name="securityConfigPath">
			<value>WEB-INF/security/acl-config.xml</value>
		</property>
		<property name="indexPath">
			<value>WEB-INF/index/</value>
		</property>
	</bean>

	<bean id="baseTxProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="init*">PROPAGATION_REQUIRED</prop>				
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>


	<bean id="baseDAO" class="org.king.framework.dao.hibernate.BaseDAOHibernate">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- AllDAO -->
    <bean id="allDAO" class="org.king.common.dao.AllDAO">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

</beans>
