#if($ejb3)
#if($pojoMode == 1 && !$pojo.isComponent()) 
@$pojo.importType("javax.persistence.MappedSuperclass")
#elseif($pojo.isComponent())
@$pojo.importType("javax.persistence.Embeddable")
#else
@$pojo.importType("javax.persistence.Entity")
#if($pojoMode != 1)
@$pojo.importType("javax.persistence.Table")(name="$clazz.table.name"
#if ($clazz.table.schema)
    ,schema="$clazz.table.schema"
#end
#if ($clazz.table.catalog)
    ,catalog="$clazz.table.catalog"
#end
#set($uniqueConstraint = $pojo.generateAnnTableUniqueConstraint())
#if($uniqueConstraint && $uniqueConstraint.length() > 0)
, uniqueConstraints = $uniqueConstraint
#end
)
#end
#end
#end