<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>MonitorSys</display-name>
   <filter>
		<filter-name>Login Filter</filter-name>
		<filter-class>
			com.kingstargroup.action.LoginFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Login Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
   
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-config-view.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-class>com.kingstargroup.action.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-class>com.kingstargroup.initServlet</servlet-class>
    <init-param>
      <param-name>database</param-name>
      <param-value>oracle</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-class>com.kingstargroup.action.user.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/servlet/initServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
  
  <resource-ref>
    <res-ref-name>jdbc/MonitorSys</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>

