<style type="text/css">
<!--
body,td,th {
	font-size: 12px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
	SCROLLBAR-FACE-COLOR:#D8D8D8;
	SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
	SCROLLBAR-SHADOW-COLOR:#FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR:#F3F3F3;
	SCROLLBAR-ARROW-COLOR:#939393;
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR:#F3F3F3;
}

BUTTON, .submitButton {
    height: 22px;
    font-size: 12px;
    border: 1px solid #2c59aa;
    padding: 0px;
    cursor: pointer;
    color: black;
    background-color: #ffffff;
    FILTER:  progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#C3DAF5)
}


a.topmenu_link{font-size: 14px;color: #000000;}
a.topmenu_link:link{font-size: 14px;}
a.topmenu_link:hover{font-size: 14px;color:#77575E;}
a.topmenu_link:visited{font-size: 14px;}


a.topmenu_link_2{font-size: 14px;color: #634D21;text-decoration:none;}
a.topmenu_link_2:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_2:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_2:visited{font-size: 14px;text-decoration:none;}



a.topmenu_link_12{font-size: 12px;color: #000000;text-decoration:none;}
a.topmenu_link_12:link{font-size: 12px;text-decoration:none;}
a.topmenu_link_12:hover{font-size: 12px;color: #b48a20;text-decoration:none;}
a.topmenu_link_12:visited{font-size: 12px;text-decoration:none;}


a.topmenu_link_14{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link_14:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_14:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_14:visited{font-size: 14px;text-decoration:none;}

.bottom{font-size: 12px; color: #FFFFFF;}

.topmenu_on{font-size: 14px;color: #b48a20;}

.red_text{color:#FF0000;}

.tdborder01 {
	BORDER-BOTTOM: #F1A7A4 0px dotted; BORDER-LEFT: #F1A7A4 0px dotted; BORDER-RIGHT: #F1A7A4 1px dotted; BORDER-TOP: #F1A7A4 0px dotted
}

.tdborder02 {
	BORDER-BOTTOM: #000000 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #C2C2C2 0px dotted; BORDER-TOP: #C2C2C2 0px dotted
}


.tdborder03 {
	BORDER-BOTTOM: #399ED6 1px dotted; BORDER-LEFT: #399ED6 1px dotted; BORDER-RIGHT: #399ED6 1px dotted; BORDER-TOP: #399ED6 1px dotted
}

.small{
font-size:12px; line-height: 120%; }

.small1{
font-size:10px; line-height: 50%; }

.small2{
font-size:9px; line-height: 50%; }
}

.medium{
font-size:14px; line-height: 150%; }

.medium2{
font-size:14px; line-height: 150%; color:#ffffff; font-weight:bold; }




.tableHeader {
	background-color: #D0B7B9;
        font-family:宋体;
	font-size:14px;
	text-align:center;

}


.tableHeader2 {
	background-color: #DCC9CA;
        font-family:宋体;
	font-size: 14px;
	text-align: right;
       
}

.tableHeader3 {
	background-color: #ECE6E6;
        font-family:宋体;
	font-size: 12px;
	text-align: left;
       
}

.tableHeader4 {
	background-color: #CBC0A9;
      font-family:宋体;
	font-size:14px;
	text-align:center;

}



.tableHeader5 {
	background-color: #D0B7B9;
        font-family:宋体;
	font-size:14px;
	text-align:right;

}



.tableHeaderSort {
	background-color: #3a95c2;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}



.button_nor{
	width:56px;
	height:20px;
	color:#000000;
	background-image:url(images/button.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
}

.button_nor2{
	width:90px;
	height:20px;
	color:#000000;
	background-image:url(images/button2.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
}


.input_box{
height:18px;
width:120px;
border:#000000 solid 1px;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
}

.input_boxread{
height:16px;
width:120px;
border:#000000 solid 1px;
background:#E6E6E6;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
}
#login input{
    height:20px;
	width:115px;
	border:#4975d6 solid 1px;
	background-color:#a0c9f9;
	color:#4975d6;
	font-size:12px;
	margin-bottom:3px;
}
div{
	background-color:#000000;
    margin:0px;
	border:0px;
	padding:0px;
	height:auto;
	background-color:#FFFFFF;
}
#body {
	margin-left:auto;
	margin-right:auto;
    text-align:left;
	width:800px;
	top:0px;
	background-color:#FFFFFF;
	z-index:1;
}
#header {
    text-align:left;;
	width: 800px;
}
#head{
    width:800px;
	height:160px;
}
#flash{
    width:800px;
    height:132px;
}
#head_link{
    line-height:27px;
    text-align:right;
	margin-right:8px;
	font-size: 12px;
	color: #444444;
}
#head_link a,a:link,a:visited{ 
    font-size: 12px; 
    color: #444444; 
    text-decoration: none;
}
#head_link a:hover{ 
    font-size: 12px; 
    color: #000000; 
	background-color:#e4e4e4; 
    text-decoration: none;
}
#mid{
    padding-top:4px;
	width: 800px;
	height:480px;
	text-align:left;
}
#left{
    height:100%;
    width:320px;
    float:left;
	text-align:center;
}
#img{
	margin-left:auto;
	margin-right:auto;
    padding:3px;
	width:310px;
	height:195px;
	background-color:#dcdcdc;
	font-weight:bold;
	line-height:20px;
}
.left_bg{
	margin-left:auto;
	margin-right:auto;
	margin-top:6px;
	width:314px;
	background-color:#ffffff;
	border:#dedddb 1px solid;
	text-align:left;
	line-height:20px;

}
.left_bg table{
	background-image:url(images/left_menu_bg.gif);
	border:0;
	padding:0px;
	margin:0px;
	width:100%;
}

.other_bg{
    float:left;
	margin-left:0px;
	margin-right:7px;
	margin-top:6px;
	width:260px;
	background-color:#ffffff;
	border:#dedddb 1px solid;
	text-align:center;
	line-height:20px;

}
.other_bg table{
	background-image:url(images/left_menu_bg.gif);
	border:0;
	padding:0px;
	margin:0px;
	width:260px;
}
.other_bg-right{
    float:right;
	margin-left:0px;
	margin-right:0px;
	margin-top:6px;
	width:260px;
	background-color:#ffffff;
	border:#dedddb 1px solid;
	text-align:left;
	line-height:20px;

}
.other_bg-right table{
	background-image:url(images/left_menu_bg.gif);
	border:0;
	padding:0px;
	margin:0px;
	width:260px;
}
.dian{
    text-align:center;
	width:23px;
	height:23px;
}
.text{
    margin-top:8px;
	font-weight:bold;
	color:#474745;
}
.more{
    width:38px;
}
ul{
    color:#e03c16;
	margin:0;
	padding:0;
	list-style:none;
}
ul li{
    height:18px;
	margin-left:13px;
	margin-bottom:4px !important;	
	margin-top:4px;
}
.right_text ul li{
    text-align:left;
    height:12px;
	margin-left:5px;
	margin-bottom:11px !important;	
	margin-top:6px;
}
.link-list-right a{ 
    font-size: 12px; 
    color: #504f4f; 
    text-decoration: none;
}
.link-list-right a:link{ 
    font-size: 12px; 
    color: #504f4f; 
    text-decoration: none;
}
.link-list-right a:visited{ 
    font-size: 12px; 
    color: #504f4f; 
    text-decoration: none;
}
.link-list a,a:link,a:visited,a:hover{ 
    font-size: 12px; 
    color: #005fa9; 
    text-decoration: none;
}
.link-list-right a:hover{ 
    font-size: 12px; 
    color: #000000;
	background-color:#e5e3e3; 
    text-decoration: none;
}
.link-list a:hover{ 
	background-color:#ddeeff; 
}

#right{
    background-color:#ededed;
    width:475px;
    float:right;
}
#right_1{
    width:342px;
	float:left;
	text-align:center;

}
.zone{
    float:left;
	height:auto;
	margin-left:6px;
	margin-top:15px;
	margin-bottom:0px;
	background-color:transparent;
}
#right_1_top{
    width:342px;
	float:left;
	height:11px;
	line-height:0px;
	font-size:0px;
	background-image:url(images/right_top.gif);
}
.right_blank{
    width:100%;
	height:2px;
	font-size:0px;
	line-height:0px;
	background-color:#ffffff;
	float:left;
}
.main_title{
    z-index:2
    margin-top:-15px;
    float:left;
    text-align:left;
    height:21px;
    width:95%;
	background-color:transparent;
	background-image:url(images/line.gif);
	background-repeat:repeat-x;
	background-position: bottom;
}
.main_title table{
    width:100%;
	height:15px;
}
.main_title2{
    margin-top:7px;
    float:left;
    text-align:left;
    height:21px;
    width:95%;
	background-color:transparent;
	background-image:url(images/line.gif);
	background-repeat:repeat-x;
	background-position: bottom;
}
.main_title2 table{
    width:100%;
	height:15px;
}
.td_right{
    padding-right:3px;
    text-align:right;
}
.right_1_main{
    background-color:#ededed;
	padding-left:9px;
	padding-right:5px;
	height:160px;
    width:342px;
	float:left;
}
#right_2{
    background-color:#ededed;
    width:133px;
	float:right;
	height:480px;
}
#right_2_top{
    margin-top:-3px;
    width:133px;
	height:24px;
	float:left;
	background-image:url(images/right_menu_top.gif);
}
#right_2_main{
    text-align:center;
    margin-right:5px;
    width:128px;
	float:left;
}
#right_2_bottom{
    width:133px;
	height:6px;
	float:left;
	font-size:0px;
	background-image:url(images/right_menu_bottom.gif);
}
#right_bottom{
    width:475px;
	background-image:url(images/right_bottom.gif);
	height:11px;
	font-size:0px;
	text-align:left;
	float:left;
}
.right_menu{
	margin-left:auto;
	margin-right:auto;
    width:125px;
	height:21px;
	line-height:23px;
	background-image:url(images/right_menu.gif);
	color:#0f2a5f;
	font-weight:bold;
}

.home-list1{
    float:left;
	margin:0;
	padding:0;
	list-style:none;
	width:95%;
	text-align: left; 
	background-color:transparent;	

}
.home-list1 li{
	width:100%;
	height:20px;	
	float:left;
	line-height:20px;
	margin-top:6px;
	background-color:transparent;	
}
.home-list1 a{	
	width:100%;
	height:20px;	
	font-size:12px;
	padding-left:20px;
	line-height:20px;
	text-align:left;
	text-decoration: none;
	
	}
.home-list1 a:link{
	background:transparent url(images/b01.gif) 0 0 no-repeat;
	color:#076ebd;
	text-decoration: none;
}
.home-list1 a:visited{
	background:transparent url(images/b01.gif) 0 0 no-repeat;
	color:#076ebd;
	text-decoration: none;
}
.home-list1 a:hover{
	background:transparent url(images/b02.gif) 0 0 no-repeat;
	text-decoration: none;
	color: #000000;	
}

.other-list a{	
	width:100%;
	height:20px;	
	font-size:12px;
	padding-left:20px;
	line-height:20px;
	text-align:left;
	text-decoration: none;
	
	}
.other-list a:link{
	background:transparent url(images/b01.gif) 0 0 no-repeat;
	color:#005fa9;
	text-decoration: none;
}
.other-list a:visited{
	background:transparent url(images/b01.gif) 0 0 no-repeat;
	color:#005fa9;
	text-decoration: none;
}
.other-list a:hover{
	background:#ddeeff url(images/b01.gif) 0 0 no-repeat;
	text-decoration: none;
	color: #005fa9;
}
.list-dashed{
  	width: 90%;
	margin: 0px;
	padding: 0px 0px 0px 0px;	
}
.list-dashed li{
    width:100%;
	height:18px;	
    padding: 0px 0px 0px 0px;
    text-align: left;
	list-style-type: none; 
	border-bottom: 1px dashed #ccc;	
}
.list-dashed ul li{
	margin-left:6px;
	margin-bottom:8px !important;	
	margin-top:5px;
}
#work{
	margin-top:10px;
    width:800px;
	height:auto;
	text-align:center;
}
#work-flash{
	margin-top:10px;
    width:800px;
	height:150px;
	text-align:center;
}
#other{
    text-align:left;
    width:800px;
	height:165px;
}
#work_top{
    font-size:0px;
	margin-left:1px;
	margin-right:1px;
    width:798px;
	height:11px;
	background-image:url(images/work_top.gif);
}
#work_mid{
    line-height:20px;
	margin-left:1px;
	margin-right:1px;
	text-align:center;
    background-color:#ededed;
	width:798px;
}
#work_bottom{
    font-size:0px;
	margin-left:1px;
	margin-right:1px;
    width:798px;
	height:11px;
	background-image:url(images/work_bottom.gif);
}

#bottom{
    margin-top:8px;
    line-height:20px;
    padding-top:5px;	
	padding-bottom:20px;
    text-align:center;
    width:800px;
}
#bottom a,a:link,a:visited{
color:#005fa9;
text-decoration:none;
}
#bottom a:hover{
	color:#005fa9;
	text-decoration:underline;
}
#date{
height:110px;}



#all{
	width:100%;
	height:100%;
	text-align:center;
}


#leftarea{
    float:left;
	width:180px;
	height:auto;
	text-align:center;
}	

#loginleft{
    width:175px;
	height:auto;
}

#loginleft input{
    height:20px;
	width:175px;
	border:#4975d6 solid 1px;
	background-color:#a0c9f9;
	color:#4975d6;
	font-size:12px;
	margin-bottom:3px;
}

.leftmenu{
    float:left;
	margin-left:0px;
	margin-right:7px;
	margin-top:3px;
	width:175px;
	background-color:#ffffff;
	border:#b3e9b3 1px solid;
	text-align:left;
	line-height:20px;

}
.leftmenu table{
	background-image:url(images/left_menu_bg_p.gif);
	border:0;
	padding:0px;
	margin:0px;
	width:175px;
}

#rightarea{
    float:right;
	width:605px;
	height:auto;
	line-height:20px;
	text-align:center;	
	
}

.page_all{
    width:602px;
	height:auto;
	text-align:left;
}


.page_menu{
    margin-top:5px;
    width:602px;
	padding-top:5px;
	height:20px;
	background-image:url(images/pagemenu.gif);
	padding-left:27px;
	text-align:left;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}
.page_txt{
    width:592spx;
	height:auto;
	border-left:#a8c3da 1px solid;
	border-right:#a8c3da 1px solid;
	padding-right:5px;
	padding-left:5px;
}
.page_b{
    width:602px;
	height:9px;
	background-image:url(images/pagemenu_b.gif);
	line-height:0px;
	font-size:0px;
}

.pages_ti{
    margin-top:5px;
    width:592px;
	padding-top:15px;
	height:21px;
	background-image:url(images/page_ti.gif);
	padding-left:92px;
	text-align:left;
	color:#4a9fe6;
	font-size:12px;
	font-weight:bold;

}

.list-dashed-page{
  	width: 100%;
	margin: 0px;
	padding: 0px 0px 0px 0px;	
}

.list-dashed-page li{
    width:100%;
	height:18px;	
    padding: 0px 0px 0px 0px;
    text-align: left;
	list-style-type: none; 
	border-bottom: 1px dashed #ccc;	
}
.list-dashed-page ul li{
	margin-left:6px;
	margin-bottom:8px !important;	
	margin-top:5px;
}

.maintxt{
    margin-top:15px;
	margin-bottom:20px;
    width:93%;
	text-align:left;
	line-height:20px;
	height:auto;
	color:#6E6E6E;
}
.img_nor{
	width:21px;
	height:21px;
	background-image:url(images/date.gif);
}

input, textarea {  font-size: 12px; border-width:1px}
select {  font-size: 12px; border-width:1px}
form {margin:0px}
ul.nl { list-style:none outside none; margin:0px; padding:0px}
ul.nl li { height:20px;padding-top:3px;padding-left:15px; background:url("bullet.gif") no-repeat 0px ;background-position:left 7px;}
ul li.fixed { height:20px;padding-top:3px;padding-left:15px; background:url("top.gif") no-repeat 0px ;background-position:left 0px;}
span.thumbnail img {border: 1px solid #cccccc;}
span.thumbnail {border:1px solid #a9a9a9; padding:5px; width:0; background:#EBEBEB}
span.thumbnailTitle {width:90%;padding:5px 0;}

/* for unvisited links */
a:link{COLOR:#213992;FONT-FAMILY:"宋体",Arial, Helvetica;FONT-SIZE:9 pt;TEXT-DECORATION: none;}
/* for visited links */
a:visited{COLOR:#213992;FONT-FAMILY:"宋体",Arial, Helvetica;FONT-SIZE:9 pt;TEXT-DECORATION: none;}
/* when link is clicked */
a:active{COLOR:#213992;FONT-FAMILY:"宋体",Arial, Helvetica;FONT-SIZE:9 pt;TEXT-DECORATION: none;}
/* when mouse is over link */
a:hover{COLOR:#3D65F8;FONT-FAMILY:"宋体",Arial, Helvetica;FONT-SIZE:9 pt;TEXT-DECORATION: underline;}

a.navlink:link, a.navlink:visited {color: white; text-decoration:none}
a.navlink:hover {color: white; text-decoration:underline }

.twidth { width: 760px }
.content, .content td { font-size: 14px;font-family:宋体,Arial; line-height:140%; margin:5px 20px }
.content A:visited, .content A:link {color:blue; text-decoration:underline}
.content A:hover {color:red; }
.aTitle { font-size: 15px;font-weight:bold; }
.alignTop {vertical-align:top}
.alignCenterTop {vertical-align:top;text-align:center}

.sitehead {  }
.sitehead-left {width:0px}
.sitehead-right {width:0px}
.footline {height:1px; background:#0D72D8;}

.navbar { height:30px; background:url("images/menu/navbar.gif"); text-align:center}
.navbar-left {width:10px; background:url("images/menu/navbar_l.gif");}
.navbar-right {width:10px; background:url("images/menu/navbar_r.gif");}

.navsub { background: #F0F0F0; height:23px;}	/*二级分类*/
.navsub-left { display:none; width:10px;}
.navsub-right { display:none; width:10px;  }

.bulletin a:link, .bulletin a:visited {color: #606060; text-decoration:none}
.bulletin a:hover {color: #333333; text-decoration:none }

.lframe-t-mid { height:35px; background:url("./images/win/wT.gif"); text-align:left;}
.lframe-t-left {  width:20px; background:url("./images/win/wTopL.gif");}
.lframe-t-right {  width:20px; background:url("./images/win/wTopR.gif");}
.lframe-t-text { color:#ffffff; font-weight:bold; padding-left:10px;  width:100% }
.lframe-m-mid { background:#ffffff; padding:2px }
.lframe-m-left { width:20px;  background:url("./images/win/wL.gif");}
.lframe-m-right { width:20px; background:url("./images/win/wR.gif");}
.lframe-b-mid {  height:15px;  background:url("./images/win/wBot.gif"); }
.lframe-b-left { width:20px;  background:url("./images/win/wBotL.gif");  }
.lframe-b-right { width:20px;  background:url("./images/win/wBotR.gif"); }

.mframe-t-mid { height:35px; background:url("./images/win/wT.gif"); text-align:left;}
.mframe-t-left { width:20px; background:url("./images/win/wTopL.gif");}
.mframe-t-right {  width:20px; background:url("./images/win/wTopR.gif");}
.mframe-t-text { color:#ffffff; font-weight:bold; padding-left:10px; width:100% }
.mframe-m-mid { background:#F0F0F0; padding:2px }
.mframe-m-left { width:20px;  background:url("./images/win/wL.gif");}
.mframe-m-right { width:20px; background:url("./images/win/wR.gif"); }
.mframe-b-mid { height:15px;  background:url("./images/win/wBot.gif");}
.mframe-b-left { width:20px;  background:url("./images/win/wBotL.gif"); }
.mframe-b-right {  width:20px;  background:url("./images/win/wBotR.gif");   }

.summary-title { background: #f0f0f0;font-weight:bold;height:23px }

.gray { color:gray; text-decoration:none }
.time { color:red }
.hit { color:green }

.tdbg { background: #f5f5f5 ; line-height:120%}
.tdbg-dark {background: #f0f0f0; line-height:120%}


.hr { background:#0D72D8; height:2px }
.inputbg { background:url("inputbg.gif")}
.quote { margin:10px; margin-left:2em; border:1px solid #CCCCCC; padding:5px;  background: #FFFFFF; font-family:Verdana,Arial,宋体; word-break:break-all; }


.menuskin {
	BORDER: #666666 1px solid; VISIBILITY: hidden; FONT: 12px Verdana;
	POSITION: absolute; BACKGROUND-COLOR:#F6F6F6;
	background-image:url("menubg.gif");
	text-align:left;
	}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; COLOR: black; TEXT-DECORATION: none; behavior:url(inc/noline.htc);
	}
.menuskin a:hover {text-decoration:none }
#mouseoverstyle {
	BACKGROUND-COLOR: #B6BDD2; margin:2px; padding:0px; border:#0A246A 1px solid;
	}
#mouseoverstyle A {
	COLOR: black
}
.menuitems{
	margin:2px;padding:1px;word-break:keep-all;
}


/*************************header********************/
TABLE.header
{
  border:    0px;
  width:     100%;
}
TD.hTop
{
  BACKGROUND: url(images/logintop.gif) no-repeat;
  height: 100 px;
  font-size: 40px;
  color:     #FFFFFF;
  font-weight:bold;
  FONT-FAMILY:     "宋体",Arial, Helvetica;
}

/**********************tab**********************************/
TABLE.tab
{
  font-size: 12px;
  border:    0px;
  
}


TD.tabLeftUp1
{
  BACKGROUND: url(./images/tab/tlUp1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabLeftUp2
{
  BACKGROUND: url(./images/tab/tlUp2.gif) repeat-x;
  height:     33px;
}


TD.tabLeftUp3
{
  BACKGROUND: url(./images/tab/tlUp3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


SPAN.tabLeftTitleUp
{
  position:       relative;
  left:           0 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabLeftTitleDown
{
  position:       relative;
  left:           0 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabTitleUp
{
  position:       relative;
  left:           -1px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabTitleDown
{
  position:       relative;
  left:           0px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


TD.tabLeftDown1
{
  BACKGROUND: url(./images/tab/tlDown1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabLeftDown2
{
  BACKGROUND: url(./images/tab/tlDown2.gif) repeat-x;
  height:     33px; 
}


TD.tabLeftDown3
{
  BACKGROUND: url(./images/tab/tlDown3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


TD.tabUp1
{
  BACKGROUND: url(./images/tab/tUp1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabUp2
{
  BACKGROUND: url(./images/tab/tUp2.gif) repeat-x;
  height:     33px; 
}


TD.tabUp3
{
  BACKGROUND: url(./images/tab/tUp3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}






TD.tabDown1
{
  BACKGROUND: url(./images/tab/tDown1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabDown2
{
  BACKGROUND: url(./images/tab/tDown2.gif) repeat-x;
  height:     33px; 
}


TD.tabDown3
{
  BACKGROUND: url(./images/tab/tDown3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


TD.tabLeft1
{
  BACKGROUND: url(./images/tab/tableft1.gif) repeat-x;
  height:     33px; 
}


TD.tabLeft2
{
  BACKGROUND: url(./images/tab/tableft2.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabL
{
  BACKGROUND: url(./images/tab/tabL.gif) repeat-y;
  width:      12px;
}


TD.tabR
{
  BACKGROUND: url(./images/tab/tabR.gif) repeat-y;
  width:      12px;
}


TD.tabLBot
{
  BACKGROUND: url(./images/tab/tabLBot.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabLBot
{
  BACKGROUND: url(./images/tab/tabLBot.gif) no-repeat;
  height:     14px; 
  width:      12px;
}


TD.tabBot
{
  BACKGROUND: url(./images/tab/tabBot.gif)  repeat-x;
  height:     14px; 
}


TD.tabRBot
{
  BACKGROUND: url(./images/tab/tabRBot.gif) no-repeat;
  height:     14px; 
  width:      13px;
}
/**************************menu******************/
TD.titleStyle
{
background-color:#6699CC;
color:#ffffff;
border-top:1px solid #FFFFFF;
font-size:9 pt;
cursor:hand;
}
TD.contentStyle
{
background-color:#efefef;
color:blue;
font-size:9 pt;
  }
TR.menu1{
background:#6699CC ;
cursor:hand;
text-align:center;
font-size:9 pt;
}
TR.menu2{
text-align:center;
vertical-align:top;
height:120px;
}
/************************** Div *******************/
DIV.div1{
	overflow-y:auto;
	overflow-x:hidden;
	height:300px;
}
/************************** sort table ****************************************/
.sort-table {
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonshadow 1px solid;
	BACKGROUND: #f0f0f0;
	FONT: "宋体",Arial, Helvetica;
	BORDER-LEFT: buttonshadow 1px solid;
	COLOR: windowtext;
	BORDER-BOTTOM: buttonshadow 1px solid;
	word-break:break-all
}
.sort-table THEAD {
	BACKGROUND: buttonface
}
.sort-table THEAD TD {
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonhighlight 1px solid;
	BORDER-LEFT: buttonhighlight 1px solid;
	CURSOR: default;
	BACKGROUND: #f0f0f0;
	BORDER-BOTTOM: buttonshadow 1px solid
}
TR.odd {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: rgb(229,229,229)
}
TR.even {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: rgb(242,242,242)
}

/**************************news index menu ****************************************/

.top{
BACKGROUND: url(./images/top.gif) no-repeat;
width:15 px;
height:20 px;
}
.bullet{
BACKGROUND: url(./images/bullet.gif) no-repeat;
width:15 px;
}
.bullet1{
BACKGROUND: url(./images/bullet1.gif) no-repeat;
width:20 px;
height:20 px;
}
.separator{
BACKGROUND: url(./images/navbar_separator.gif) no-repeat;
width:2 px;
}
input.button
{
	BACKGROUND: url(./images/button.gif) no-repeat;
	width:     60px;
	height:    28px;
	border:    0px;
}

.smallwhite{font-family: "宋体";
font-size:12px; line-height: 120%; COLOR: #FFFFFF; }


.small{font-family: "宋体";
font-size:12px; line-height: 120%; }
.small2 a,.small2 a:link,.small2 a:visited{FONT-SIZE: 12px; COLOR: #66432B; TEXT-DECORATION: none}

.small2 a:hover{FONT-SIZE: 12px; COLOR: #C79546; TEXT-DECORATION: none}

.small2{font-family: "宋体";
font-size:12px; line-height: 150%;
text-align:left; }


.medium{
font-size:14px; line-height: 150%; }

.mediumwhite{
font-size:14px; line-height: 150%; COLOR: #FFFFFF;}

.medium2{
font-size:14px; line-height: 150%; color:#ffffff; font-weight:bold; }


.input_box{
height:16px;
border:#000000 solid 1px;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
}


.input_box2{
height:16px;
width:120px;
border:#FFFFFF solid 1px;
background-color:#428DD7;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
color:#FFFFFF;
}
 


.textarea1{
	font-size:12px;
	width:300px;
        height:50px;
	
}


A.black_link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.black_link:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.black_link:hover {
	FONT-SIZE: 12px; COLOR: #2C34A3 ; TEXT-DECORATION: none
}
A.black_link:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.black_link_line {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: none
}
A.black_link_line:link {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: underline
}
A.black_link_line:hover {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: underline
}
A.black_link_line:visited {
	FONT-SIZE: 12px
}


A.brown_link {
	FONT-SIZE: 12px; COLOR: 6E561A; TEXT-DECORATION: none
}
A.brown_link:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.brown_link:hover {
	FONT-SIZE: 12px; COLOR: #C79546; TEXT-DECORATION: none
}
A.brown_link:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.brown_link_line {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: none
}
A.brown_link_line:link {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: underline
}
A.brown_link_line:hover {
	FONT-SIZE: 12px; COLOR: #838383; TEXT-DECORATION: underline
}
A.brown_link_line:visited {
	FONT-SIZE: 12px
}


.button_login {
	color: #ffffff; 
	font-size:12px;
	height:19px; 
	width:54; 
	background-image:url(../images/button_login.jpg); border:0px;
}


th{
    text-align: right;
    padding: 0px 10px 0px 0px;
    font-size: 14px;
    text-align:center;
}

.tdborder01 {
	BORDER-BOTTOM: #C2C2C2 0px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #C2C2C2 0px dotted
}

.tdborder02 {
	BORDER-BOTTOM: #010066 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #333333 0px solid; BORDER-TOP: #C2C2C2 0px dotted
}


.tableHeader {
        background-image:url(../images/table_bg.jpg);	
        font-family:宋体;
	font-size:14px;
	text-align:center;
        height:23px;

}


.tableHeader2 {
	background-color: #D1DAE9;
        font-family:宋体;
	font-size: 14px;
	text-align: right;
       
}

.tableHeader3 {
	background-color: #E7F1F5;
        font-family:宋体;
	font-size: 12px;
	text-align: left;
       
}


.tableHeaderSort {
	background-color: #3a95c2;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}



.button_nor{
	width:56px;
	height:24px;
	color:#000000;
	background-image:url(../images/button1.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
}

.smallh20 {
	FONT-SIZE: 12px; LINE-HEIGHT: 20pt
}
.smallh15 {
	FONT-SIZE: 12px; LINE-HEIGHT: 15pt
}
.medium {
	FONT-SIZE: 14px
}





.tdborder01 {
	BORDER-BOTTOM: #F1A7A4 0px dotted; BORDER-LEFT: #F1A7A4 0px dotted; BORDER-RIGHT: #F1A7A4 1px dotted; BORDER-TOP: #F1A7A4 0px dotted
}

.tdborder02 {
	BORDER-BOTTOM: #000000 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #C2C2C2 0px dotted; BORDER-TOP: #C2C2C2 0px dotted
}


.tdborder03 {
	BORDER-BOTTOM: #399ED6 1px dotted; BORDER-LEFT: #399ED6 1px dotted; BORDER-RIGHT: #399ED6 1px dotted; BORDER-TOP: #399ED6 1px dotted
}


TEXTAREA {
	
}

.textarea03service {
	
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 12pt;
	padding: 3px;
	float: none;
	border: 1px dotted #000080;

}


.textarea01service {
	BACKGROUND-COLOR: #ffffff;
	COLOR: #000000;
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 12pt;
	padding: 3px;
	float: none;
	border: 1px  dotted #000000;

}



.textarea01 {
	BACKGROUND-COLOR: #ffffff;
	COLOR: #000000;
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 12pt;
	padding: 3px;
	float: none;
	border: 1px  dotted #0669BA;

}

.textarea02 {
	BACKGROUND-COLOR: #ffffff;
	COLOR: #000000;
	FONT-SIZE: 9pt;
	LINE-HEIGHT: 12pt;
	padding: 3px;
	float: none;
	border: 1px  dotted #A7A7A7;

}



SELECT {
	
}
.select01 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-WIDTH: 1px; COLOR: #000000; FONT-SIZE: 9pt; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}


.select02 {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #6d9604 1px; BORDER-LEFT: #6d9604 1px; BORDER-RIGHT: #6d9604 1px; BORDER-TOP: #6d9604 1px;FONT-SIZE: 9pt; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP:1px
}





INPUT {
	
}

.input {
	BORDER-RIGHT: #0669BA 1px solid; BORDER-TOP: #0669BA 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #0669BA 1px solid; BORDER-BOTTOM: #0669BA 1px solid; BACKGROUND-COLOR: #E6F2FF; width: 50
}


.input01 {
	BACKGROUND-COLOR: #5985CE; BORDER-BOTTOM-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #ffffff; BORDER-TOP-WIDTH: 1px; COLOR: #ffffff; FONT-SIZE: 9pt; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}


.input02 {
	BACKGROUND-COLOR: #E67B06; BORDER-BOTTOM-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #ffffff; BORDER-TOP-WIDTH: 1px; COLOR: #ffffff; FONT-SIZE: 9pt; HEIGHT: 18px;width=60px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}

.input03 {
	BACKGROUND-COLOR: #E67B06; BORDER-BOTTOM-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 1px; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-TOP-COLOR: #ffffff; BORDER-TOP-WIDTH: 1px; COLOR: #ffffff; FONT-SIZE: 9pt; HEIGHT: 18px; PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px
}






A{ COLOR: #000000 }

 A:link { COLOR: #000000  ; text-decoration: none } 

A:active 
  { COLOR:#000000   ; text-decoration:none }

 A:visited { COLOR: #77575E  ; text-decoration: none } 

A:hover { COLOR: #000000  ; text-decoration:underline }


.link1 
  { COLOR: #FFFFFF text-decoration: underline}



-->
</style>