* {
    margin: 0;
    padding: 0
}

img {
    border: 0;
}

.clear {
    clear: both;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
    overflow: hidden;
}

.shoppingcart_wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    color: #404040;
    font-size: 12px;
}

.shoppingcart_subject {
    display: block;
    width: 960px;
    height: 29px;
}

.shoppingcart_subject li {
    background: #f7f4eb;
    border-bottom: 1px solid #dfc9b2;
    height: 28px;
    *height: 27px;
    *padding-top: 1px;
    line-height: 28px;
    text-align: center;
    display: block;
    float: left;
    color: #8a7152;
    overflow: hidden;
}

.shoppingcart_subject li.row1 {
    width: 723px;
}

.shoppingcart_subject li.row3 {
    width: 144px;
}

.shoppingcart_subject li.row5 {
    width: 93px;
}

.shoppingcart_list {
    clear: both;
    width: 960px;
}

.row00, .row11, .row33, .row55 {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    height: 74px;
    float: left;
    display: block;
    font: 12px / 74px Arial;
    text-align: center;
    width: 92px;
    border-right: 0;
}

.row00 {
    border-left: 1px solid #E1E1E1;
    width: 91px;
}

.row11 {
    border-right: 1px solid #E1E1E1;;
    width: 631px;
    line-height: normal;
    padding-right: 0px;
    text-align: left;
    font-family: "宋体";
}

.row33 {
    border-right: 1px solid #E1E1E1;
    width: 144px;
    color: #c30;
}

.row55 {
    border-right: 1px solid #E1E1E1;
    width: 85px;
    height: 74px;
    position: relative;
}

.row00 a {
    border: 1px solid #dfdfe0;
    width: 54px;
    height: 54px;
    display: block;
    margin: 9px auto 0;
    text-align: center;
}

.row11 p {
    width: 287px;
    display: table-cell;
    vertical-align: middle;
    height: 74px;
    word-break: break-all;
    overflow: hidden;
}

.row55 span {
    width: 36px;
    height: 19px;
    background: #fff;
    float: left;
    margin-top: 1px;
    text-align: center;
    line-height: 19px;
    margin-right: 1px;
    font-size: 12px;
}

.shoppingcart_total p {
    padding-right: 8px;
    text-align: right;
}

.shoppingcart_total p.price {
    font-size: 14px;
    font-weight: bold;
    line-height: 51px;
}

.shoppingcart_total p.price span {
    font: bold 18px / 51px Arial;
    color: #c30;
}

.shoppingcart_total p a {
    display: block;
    margin-left: 26px;
    display: block;
    float: right;
    border: none;
    cursor: pointer;
}

* ul, * ol, * li {
    list-style: none
}

body {
    font-size: 12px;
    color: #404040;
}

a {
    text-decoration: none;
    color: #1a66b3;
}

/*页头（操作区）*/
.newhead_operate {
    width: 958px;
    height: 25px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #eee;
}

.newhead_operate_nav li {
    float: left;
    height: 7px;
    margin: 2px 0 0;
}

.newhead_operate_nav li a {
    display: inline-block;
    padding: 1px 11px 0;
    height: 19px;
    color: #404040;
    overflow: hidden;
}

.newhead_operate_nav li.newhead_separate {
    width: 1px;
    height: 7px;
    background: #bcbcbc;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 10px 0 0;
}

.submitBtn {
    text-align: center;
    color: white;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    background-color: #FF8037;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 80px;
    font-size: 12pt;
}