.shoppingcart_wrapper {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    color: #404040;
    font-size: 12px;
    padding-bottom: 20px;
}

.shoppingcart_footer_experience {
    width: 953px;
    padding: 15px 0 0 7px;
    height: 21px;
}

/*标题行*/
.shoppingcart_subject {
    display: block;
    width: 960px;
    height: 29px;
}

.shoppingcart_subject li {
    background: #f7f4eb;
    border-bottom: 1px solid #eadbc9;
    height: 28px;
    *height: 27px;
    *padding-top: 1px;
    line-height: 28px;
    text-align: center;
    display: block;
    float: left;
    color: #8a7152;
    overflow: hidden;
}

.shoppingcart_subject li.row1 {
    width: 395px;
}

.shoppingcart_subject li.row2 {
    width: 102px;
}

.shoppingcart_subject li.row3 {
    width: 144px;
}

.shoppingcart_subject li.row5 {
    width: 93px;
}

.shoppingcart_subject li.row6 {
    width: 85px;
}

.shoppingcart_list li.row2 {
    width: 101px;
}

.shoppingcart_list li.row3 {
    width: 144px;
    color: #c30;
}

.shoppingcart_list li.row5 {
    width: 58px;
    padding: 28px 17px 0;
    height: 46px;
}

.shoppingcart_list li.row6 {
    width: 84px;
    border-right: 0;
    line-height: 18px;
    padding-top: 21px;
    height: 53px;
}

/*普通商品行*/
.shoppingcart_list li {
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    height: 74px;
    float: left;
    display: block;
    font: 12px / 74px "宋体";
    text-align: center;
}

.shoppingcart_deep li.row6 {
    position: relative;
}

.shoppingcart_deep li {
    background-color: #fffdb3 !important;
}

.shoppingcart_deep li.row6 a {
    position: absolute;
    top: 3px;
    right: 8px;
}

.shoppingcart_list li.row0 {
    width: 92px;
    border-right: 0;
}

.shoppingcart_list li.row1 {
    width: 287px;
    line-height: normal;
    padding-right: 15px;
    text-align: left;
    font-family: "宋体";
}

/*结算框架*/
.shoppingcart_wrapper .clearing_border {
    width: 954px;
    border: 2px solid #dfc9b2;
}

/*正常状态*/
.shoppingcart_wrapper .refer_m {
    width: 914px;
    padding: 15px 1px 9px;
    border-bottom: solid 1px #f2e2d4;
    margin: 0 auto;
    background: #fff;
}

.shoppingcart_wrapper .refer_m2 {
    width: 914px;
    padding: 15px 0 5px;
}

.shoppingcart_wrapper .refer_m h4 {
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.shoppingcart_wrapper .refer_m ul {
    padding-left: 40px;
    line-height: 20px;
    list-style: none;
}

.business_box_border {
    background: #fff;
    width: 890px;
}

.business_box_border .shoppingcart_subject {
    border-top: 1px solid #eadbc9;
    width: 890px;
    padding-left: 0 !important;
}

.business_box_border .shoppingcart_subject li.row1 {
    width: 500px;
    padding-right: 15px;
}

.business_box_border .shoppingcart_subject li.row3 {
    width: 114px;
    padding-right: 20px;
}

.shoppingcart_subject li.row4 span {
    display: block;
    cursor: default;
}

.business_box_border .shoppingcart_subject li.row5 {
    width: 100px;
}

.business_box_border .shoppingcart_subject li.row6 {
    padding-right: 0px;
    width: 74px;
}

.business_box_border .shoppingcart_list li {
    border-right: 0;
    height: 30px;
    line-height: 30px
}

.business_box_border .shoppingcart_list li.row0 {
    display: none;
    width: 0;
}

.business_box_border .shoppingcart_list li.row1 {
    padding: 0 0 0 15px;
    width: 480px;
}

.business_box_border .shoppingcart_list li.row2 {
    width: 55px;
}

.business_box_border .shoppingcart_list li.row3 {
    width: 114px;
    color: #404040;
}

.business_box_border .shoppingcart_list li.row5 {
    width: 114px;
    padding: 0;
    height: auto;
}

.business_box_border .shoppingcart_list li.row6 {
    width: 64px;
    text-align: right;
    height: auto;
    padding-top: 0;
}

.business_box_border .shoppingcart_list li.row7 span {
    cursor: default;
}

.price_charge {
    padding: 0 0 10px 0;
    text-align: right;
}

.price_charge_border {
    display: block;
    border-top: 1px solid #eadbc9;
    height: 9px;
    line-height: 9px;
    margin-top: -1px;
    position: relative;
}

.p_charge1 {
    padding: 7px 10px 0 0;
}

.p_charge1 span, .p_charge2 span {
}

.change_total {
    padding: 5px 10px 0 0;
    font-weight: bold;
    font-size: 13px;
    font-weight: bold;
}

.change_total span {
    color: #c30;
}

/*公用部分*/
* {
    margin: 0;
    padding: 0
}

.clear {
    clear: both;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
    overflow: hidden;
}

* ul, * ol, * li {
    list-style: none
}

body {
    font-size: 12px;
    color: #404040;
}

a {
    text-decoration: none;
    color: #1a66b3;
}

/*页头（操作区）*/
.newhead_operate {
    width: 958px;
    height: 25px;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    border-top: none;
    background: #eee;
}

.newhead_operate_nav li {
    float: left;
    height: 7px;
    margin: 2px 0 0;
}

.newhead_operate_nav li a {
    display: inline-block;
    padding: 1px 11px 0;
    height: 19px;
    color: #404040;
    overflow: hidden;
}

.newhead_operate_nav li.newhead_separate {
    width: 1px;
    height: 7px;
    background: #bcbcbc;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    margin: 10px 0 0;
}

.submitBtn {
    text-align: center;
    color: white;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    background-color: #FF8037;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 90px;
    font-size: 12pt;
}

.item {
    text-align: right;
    width: 890px;
}
