html {
    color: #000;
    background: #fff;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font: 12px / 1.5 tahoma, arial, \5b8b\4f53;
}

ins, a {
    text-decoration: none;
}

.ui-round-btn {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    line-height: 100%;
    text-align: left;
    font-size: 12px;
    zoom: 1;
}

.ui-round-btn {
    text-align: center;
    color: white;
    border: 2px outset buttonface;
    background-color: #FF8037;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    width: 100px;
}

.ui-round-btn-text {
    width: 100px;
    height: 27px;
    line-height: 27px;
    padding: 0 7px;
    *overflow: visible;
    background-position: right -519px;
    color: white;
    font-weight: 700;
}

.ui-round-btn {
    background-position: 0 -435px;
}

.ui-tip {
    position: relative;
    zoom: 1;
}

.ui-tip-icon-text .ui-tip-text, .ui-tip-info .ui-tip-text, .ui-tip-warn .ui-tip-text, .ui-tip-success .ui-tip-text, .ui-tip-error .ui-tip-text {
    padding-left: 20px;
    zoom: 1;
}

.ui-tip-icon-text .ui-tip-icon, .ui-tip-info .ui-tip-icon, .ui-tip-warn .ui-tip-icon, .ui-tip-success .ui-tip-icon, .ui-tip-error .ui-tip-icon {
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    display: block;
    background-image: url(ui-tip.png);
    background-repeat: no-repeat;
}

.cashier-box-order .order tbody tr {
    background-position: 0 -68px;
}

#container.xbox {
    width: auto;
    height: auto;
    padding: 20px;
}

#xbox-mock {
    position: absolute;
    background: #fff;
    z-index: 1002;
    color: #000;
    border: 6px solid #767576;
    text-align: left;
    top: 16%;
    left: 30%;
    overflow: hidden;
}

* html #xbox-mock {
    position: absolute;
}

#xbox-iframe {
    width: 100%;
    height: 100%;
    clear: both;
    border: none;
    margin-bottom: -1px;
    margin-top: 1px;
    _margin-bottom: 1px;
}

#container h2, #J-savePrototypeContext h2, #J-chooseBankList h2 {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#xbox-mock {
    top: 24px;
    right: 22px;
    font-size: 16px;
}

#xbox-mock .ui-xbox-action a {
    text-decoration: none;
    position: relative;
    padding-left: 20px;
}

#xbox-mock .ui-xbox-action b {
    background-position: -154px -320px;
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    overflow: hidden;
}