<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>

        <!--  直连的DRTP 主机地址-->
        <add key="drtpHost" value="10.253.42.200"/>
        <!--DRTP 主机 的侦听端口号-->
        <add key="drtpPort" value="4000"/>
        <!--目标应用服务器连接的业务通讯平台节点编号 （参见业务通讯平台的配置参数表）-->
        <!--<add key="drtpBranch" value="999" />-->
        <add key="drtpBranch" value="7000" />

        <!--目标应用服务器注册在业务通讯平台的功能号(参见BCC配置文件中的BASEFUNCNO)-->
        <!--<add key="baseFunction" value="6000"/>-->
        <add key="baseFunction" value="600"/>


        <!--模仿的操作员号-->
        <add key="impersonate" value="1234"/>



    </appSettings>

    <log4net>
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs\Applog.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <header value="***Start &#13;&#10;" />
                <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
                <footer value="***End &#13;&#10;&#13;&#10;" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="RollingLogFileAppender"/>
        </root>
    </log4net>
    <startup>

        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
