/* CSS Document */
.button_nor{
	width:70px;
	height:20px;
	color:#000000;
	background-image:url(../images/button.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
}
button{
	width:70px;
	height:20px;
	color:#000000;
	background-image:url(../images/button.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-position: bottom;
	}
.input_box{
height:18px;
width:200px;
border:#CCCCCC solid 1px;
margin:0px;
padding:0px;
}
table.data{
background-color:#ffffff;
border-right:0px;
border-bottom:0px;
border-left:#d6d6d5 solid 1px;
border-top:#d6d6d5 solid 1px;
margin:0px;
padding:0px;
}
td.data{
height:20px;
background-color:#ffffff;
border-top:0px;
border-left:0px;
border-bottom:#d6d6d5 solid 1px;
border-right:#d6d6d5 solid 1px;
margin:0px;
padding:0px;
}
tr.title,td.title{
height:20px;
background-color:#eaeae9;
border-top:0px;
border-left:0px;
border-bottom:#d6d6d5 solid 1px;
border-right:#d6d6d5 solid 1px;
margin:0px;
padding:0px;
}
