#macro(css $file_name)
	<link href="$file_name" rel="stylesheet" type="text/css" />
#end

#macro(js $file_name)
	<script src="$file_name" type="text/javascript"></script>
#end

#macro(language $lang_key)
$languageUtil.get($company.getCompanyId(), $locale, $lang_key)#end

#macro(date $date_format)
$dateUtil.getCurrentDate($date_format, $locale)#end

#macro(ie6_png_fix)
/* ---------- IE6 PNG image fix ---------- */
.ie6 img, .ie6 .png{
	azimuth: expression(
		this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
		this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
		this.src = "$images_folder/spacer.png"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
		this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
		this.runtimeStyle.backgroundImage = "none")),this.pngSet=true
	);
}#end