<$c2h.getTag($clazz) 
    name="$c2h.getClassName($clazz)"
#if(!$c2h.getClassName($clazz).equals($clazz.EntityName))
    entity-name="$clazz.EntityName"
#end
#if($clazz.getSuperclass())
    extends="$clazz.getSuperclass().className"
#end
    table="$clazz.table.quotedName"
#if ($clazz.table.schema)
    schema="$clazz.table.quotedSchema"
#end
#if ($clazz.table.catalog)
    catalog="$clazz.table.catalog"
#end
#if (! $clazz.mutable)
    mutable="false"
#end
#if ($clazz.useDynamicUpdate())
    dynamic-update="true"
#end
#if ($clazz.useDynamicInsert())
    dynamic-insert="true"
#end
#if ($clazz.hasSelectBeforeUpdate())
    select-before-update="true"
#end
#if (!$c2h.getClassName($clazz).equals($clazz.discriminatorValue))
    discriminator-value="$clazz.discriminatorValue"
#end
#if ($clazz.isExplicitPolymorphism())
    polymorphism="explicit"
#end
#if ($clazz.isLazy() && !$c2h.getClassName($clazz).equals($c2h.getProxyInterfaceName($clazz)))
    proxy="$c2h.getProxyInterfaceName($clazz)"
#elseif (!$clazz.isLazy())
    lazy="false"
#end
#if ($clazz.isAbstract())
    abstract="true"
#end
#if ($c2h.isClassLevelOptimisticLockMode($clazz))
    optimistic-lock="$c2h.getClassLevelOptimisticLockMode($clazz)"
#end
#if ($clazz.batchSize > 1)
    batch-size="$clazz.batchSize"
#end
#if ($clazz.where)
    where="$clazz.where"
#end
#if ($clazz.table.subselect)
    subselect="$clazz.table.subselect"
#end
#if ($clazz.getEntityPersisterClass())
    persister="$clazz.getEntityPersisterClass().name"
#end
#if ($clazz.table.rowId)
    rowid="$clazz.table.rowId"
#end
>
