/* CSS Document */
@charset "utf-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
	SCROLLBAR-FACE-COLOR:#D8D8D8;
	SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
	SCROLLBAR-SHADOW-COLOR:#FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR:#F3F3F3;
	SCROLLBAR-ARROW-COLOR:#939393;
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR:#F3F3F3;
}
td{
	font-size:12px;
	line-height:20px;
}
ul{
	margin:0px;padding:0;
}
li{
	margin:0px;padding:0px;list-style-type:none;
}
div{
	font-size:12px;
	margin:0 auto;
}
/*默认超链接样式*/
a:link{
	color:#2E2E2E;text-decoration:none;
}
a:visited{
	color:#2E2E2E;text-decoration:none;
}

a:hover{
	color:#2E2E2E;text-decoration:underline;
}
a:active{
	color:#2E2E2E; text-decoration:none;
}

/*head*/
#top{ background: url(images/top_bg.gif) repeat-x; height:57px; width:100%; }
#top_left{ float:left; background:url(images/logo.gif) no-repeat;width:100%; height:57px;}
#top_right{ float:right; width:350px;height:32px; padding:25px 0 0 13px;color:#fff; }
#line{ background:#8793A6; widows:100%;height:5px;}
.left_top{ background:url(images/left_top.gif) no-repeat #01538E left; width:100%; height:78px;}
.title{ width:100% !important; width:101%;height:30px; background:#D5D5D5; border-bottom:0px solid #85969D;padding-left:11px; padding-top:8px; margin-left:-11px}
.arrow{ background:url(images/arrow.gif) no-repeat left; text-align:left; padding-left:18px; margin-left:5px}

#boot{text-align:center; background:#C6DAE4; height:20px; width:100%; clear:both; border-top:0px solid #fff; font-family:Arial, Helvetica, sans-serif; padding-top:10px}




/*表格以列表形式*/
.tablelist{
	background:#D9D9D9; width:100%;
}

/*头部标题*/
.tablelist .toptitle{
	background:#ECE9D8; color:#333;height:23px; text-align:center;
}
/*内容行*/
.tablelist .listr1{
	background:#F6F6F9; text-align:center; height:26px;
}
.tablelist .listr5{
	background:#FE3E00; padding:0px 0 0px 10px; height:27px
}
/*交替行*/
.tablelist .listr2{
	background:#fff; text-align:center; height:26px;
}

/*选中行*/
.tablelist .listr3{
	background:#F9A810; text-align:center; height:26px; color:#2E2E2E; cursor:pointer;
}
/*分页行*/
.tablelist .listr4{
	background:#B1C9D3; padding:0px 0 0px 10px; height:27px
}
/*翻页ipnut*/
.PageInput{ width:30px; border:0px solid #ccc;}



/*查询*/

.search{
	background:#ECE9D8; width:100%;
	margin-bottom:5px;
	color:#333
}
.search .toptitle{
	background:#ECE9D8; color:#2E2E2E; height:24px;  font-weight:bold; color:#333;padding-left:10px;text-align:center;
}
.search .toptitle1{
	background:#ffffff; color:#2E2E2E; height:24px;  font-weight:normal; color:#333;padding-left:10px;text-align:center;
}
.toptitle{
	background:#ECE9D8; color:#2E2E2E; height:24px;  font-weight:bold; color:#333;padding-left:10px;text-align:left;
}
.search .toptitle0{
	background:#D0D0D0; color:#2E2E2E; height:24px;  font-weight:normal; color:#333;padding-left:10px;text-align:center;
}

.search .listr2{
	background:#fff; text-align:center; height:26px;
}
.search .listr3{
	background:#C2C5BA; text-align:center; height:29px;
}
.search .listr4{
	background:#C2C5BA; text-align:right; height:29px;
}


.search .listr5{
	background:#FDFAF2; text-align:left; height:26px; padding-left:3px;
}


a.info:link{color:#F1F3FF; text-decoration:none;}
a.info:visited{color:#F1F3FF;text-decoration:none;}
a.info:hover{color:#F1F3FF;text-decoration:underline;} 
a.info:actived{color:#034A9A;text-decoration:none;}

/**=================================================================================**/

.lframe-t-mid { height:35px; background:url("./images/win/wT.gif"); text-align:left;}
.lframe-t-left {  width:20px; background:url("./images/win/wTopL.gif");}
.lframe-t-right {  width:20px; background:url("./images/win/wTopR.gif");}
.lframe-t-text { color:#ffffff; font-weight:bold; padding-left:10px;  width:100% }
.lframe-m-mid { background:#ffffff; padding:2px }
.lframe-m-left { width:20px;  background:url("./images/win/wL.gif");}
.lframe-m-right { width:20px; background:url("./images/win/wR.gif");}
.lframe-b-mid {  height:15px;  background:url("./images/win/wBot.gif"); }
.lframe-b-left { width:20px;  background:url("./images/win/wBotL.gif");  }
.lframe-b-right { width:20px;  background:url("./images/win/wBotR.gif"); }

.mframe-t-mid { height:35px;  background:#C2C5BA; text-align:left;}
.mframe-t-left { width:20px;}
.mframe-t-right {  width:20px; }
.mframe-t-text { color:#ffffff; font-weight:bold; padding-left:10px; width:100% }
.mframe-m-mid { background:#F0F0F0; padding:2px }
.mframe-m-left { width:20px;  }
.mframe-m-right { width:20px;  }
.mframe-b-mid { height:15px;  }
.mframe-b-left { width:20px;  }
.mframe-b-right {  width:20px;   }
.summary-title { background: #f0f0f0;font-weight:bold;height:23px }

.gray { color:gray; text-decoration:none }
.time { color:red }
.hit { color:green }

.tdbg { background: #f5f5f5 ; line-height:120%}
.tdbg-dark {background: #f0f0f0; line-height:120%}


.hr { background:#0D72D8; height:2px }
.inputbg { background:url("inputbg.gif")}
.quote { margin:10px; margin-left:2em; border:1px solid #CCCCCC; padding:5px;  background: #FFFFFF; font-family:Verdana,Arial,宋体; word-break:break-all; }


.menuskin {
	BORDER: #666666 1px solid; VISIBILITY: hidden; FONT: 12px Verdana;
	POSITION: absolute; BACKGROUND-COLOR:#F6F6F6;
	background-image:url("menubg.gif");
	text-align:left;
	}
.menuskin A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; COLOR: black; TEXT-DECORATION: none; behavior:url(inc/noline.htc);
	}
.menuskin a:hover {text-decoration:none }
#mouseoverstyle {
	BACKGROUND-COLOR: #B6BDD2; margin:2px; padding:0px; border:#0A246A 1px solid;
	}
#mouseoverstyle A {
	COLOR: black
}
.menuitems{
	margin:2px;padding:1px;word-break:keep-all;
}


/*************************header********************/
TABLE.header
{
  border:    0px;
  width:     100%;
}
TD.hTop
{
  BACKGROUND: url(images/logintop.gif) no-repeat;
  height: 100 px;
  font-size: 40px;
  color:     #FFFFFF;
  font-weight:bold;
  FONT-FAMILY:     "宋体",Arial, Helvetica;
}

/**********************tab**********************************/
TABLE.tab
{
  font-size: 12px;
  border:    0px;
  
}


TD.tabLeftUp1
{
  BACKGROUND: url(./images/tab/tlUp1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabLeftUp2
{
  BACKGROUND: url(./images/tab/tlUp2.gif) repeat-x;
  height:     33px; 
}


TD.tabLeftUp3
{
  BACKGROUND: url(./images/tab/tlUp3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


SPAN.tabLeftTitleUp
{
  position:       relative;
  left:           0 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabLeftTitleDown
{
  position:       relative;
  left:           0 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabTitleUp
{
  position:       relative;
  left:           -1 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


SPAN.tabTitleDown
{
  position:       relative;
  left:           0 px;
  top:            -1px;
  font-size:      12px;
  text-align:     right;
  letter-spacing: 1px;
  color:          #000000;
}


TD.tabLeftDown1
{
  BACKGROUND: url(./images/tab/tlDown1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabLeftDown2
{
  BACKGROUND: url(./images/tab/tlDown2.gif) repeat-x;
  height:     33px; 
}


TD.tabLeftDown3
{
  BACKGROUND: url(./images/tab/tlDown3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


TD.tabUp1
{
  BACKGROUND: url(./images/tab/tUp1.gif) no-repeat;
  height:     33px; 
  width:      12px;
}


TD.tabUp2
{
  BACKGROUND: url(./images/tab/tUp2.gif) repeat-x;
  height:     33px; 
}


TD.tabUp3
{
  BACKGROUND: url(./images/tab/tUp3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}






TD.tabDown1
{
  BACKGROUND: url(./images/tab/tDown1.gif) no-repeat;
  height:     33px; 
  width:      11px;
}


TD.tabDown2
{
  BACKGROUND: url(./images/tab/tDown2.gif) repeat-x;
  height:     33px; 
}


TD.tabDown3
{
  BACKGROUND: url(./images/tab/tDown3.gif) no-repeat;
  height:     33px; 
  width:      10px;
}


TD.tabLeft1
{
  BACKGROUND: url(./images/tab/tableft1.gif) repeat-x;
  height:     33px; 
}


TD.tabLeft2
{
  
  height:     33px; 
  width:      12px;
}


TD.tabL
{
  BACKGROUND: url(./images/tab/tabL.gif) repeat-y;
  width:      12px;
}


TD.tabR
{
  
  width:      12px;
}


TD.tabLBot
{
  height:     33px; 
  width:      12px;
}


TD.tabLBot
{
  height:     14px; 
  width:      12px;
}


TD.tabBot
{
	
  height:     14px; 
}


TD.tabRBot
{
  
  height:     14px; 
  width:      13px;
}
/**************************menu******************/
TD.titleStyle
{
background-color:#6699CC;
color:#ffffff;
border-top:1px solid #FFFFFF;
font-size:9 pt;
cursor:hand;
}
TD.contentStyle
{
background-color:#efefef;
color:blue;
font-size:9 pt;
  }
TR.menu1{
background:#6699CC ;
cursor:hand;
text-align:center;
font-size:9 pt;
}
TR.menu2{
text-align:center;
vertical-align:top;
height:120px;
}
/************************** Div *******************/
DIV.div1{
	overflow-y:auto;
	overflow-x:hidden;
	height:300px;
}
/************************** sort table ****************************************/
.sort-table {
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonshadow 1px solid;
	BACKGROUND: #f0f0f0;
	FONT: "宋体",Arial, Helvetica;
	BORDER-LEFT: buttonshadow 1px solid;
	COLOR: windowtext;
	BORDER-BOTTOM: buttonshadow 1px solid;
	word-break:break-all
}
.sort-table THEAD {
	BACKGROUND: buttonface
}
.sort-table THEAD TD {
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonhighlight 1px solid;
	BORDER-LEFT: buttonhighlight 1px solid;
	CURSOR: default;
	BACKGROUND: #f0f0f0;
	BORDER-BOTTOM: buttonshadow 1px solid
}
TR.odd {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: rgb(229,229,229)
}
TR.even {
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: rgb(242,242,242)
}
.td_title{
	background:#D9DCE3;
    width:22%;
    text-align:right;
    vertical-align:middle;
}
.td_value{
	background:#ECF0F3;
    
    text-align:left;
    border-right:0px;
    vertical-align:middle;
}
.td_value1{
	background:#ECF0F3;
    width:59%;
    border-left:0px;
    text-align:left;
    vertical-align:middle;
}
.button_nor {
	background-image:url(images/button.png);
	border:0 none;
	color:#000000;
	height:21px;
	margin:0;
	padding:3 0 0 0;
	width:57px;
}
.healthTitle { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 10pt;  background-color: #999797;  color: black; }
.healthBox { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 8pt;  background-color: #ffffff;  color: white; }
.healthItem { text-align: left;  font-family: arial;  font-weight: normal;  font-size: 10pt;  background-color: #ffffff;  color: black; }
.healthBar { text-align: left;  font-family: arial;  font-weight: bold;  font-size: 8pt;  background-color: white;  color: white; border:1px solid #AAAAAA;}

.searchresult_fltlist_bgred, .searchresult_fltlist_bgblue {float:none; margin: 0 1px 1px 0; width: 60px; height:20px; background-image: url("images/un_searchresult.gif"); background-repeat: no-repeat; color: #fff; text-align: center; font-family: Simsun; }
.searchresult_fltlist_bgblue { background-position: right -336px; cursor: pointer; }
