Library file name:  SHCLIB.LIB
Attribute:  USER               Creation date:  02-Aug-96 13:17:06
Number of modules:    320      Revision date:  02-Aug-96 13:27:10

__bfsbs                         
   __bfsbs                            P                               

__bfsbu                         
   __bfsbu                            P                               

__bfsls                         
   __bfsls                            P                               

__bfslu                         
   __bfslu                            P                               

__bfsws                         
   __bfsws                            P                               

__bfswu                         
   __bfswu                            P                               

__bfxbs                         
   __bfxbs                            P                               

__bfxbu                         
   __bfxbu                            P                               

__bfxls                         
   __bfxls                            P                               

__bfxlu                         
   __bfxlu                            P                               

__bfxws                         
   __bfxws                            P                               

__bfxwu                         
   __bfxwu                            P                               

__divbs                         
   __divbs                            P                               

__divbu                         
   __divbu                            P                               

__divlnm                        
   __divlspnm                         P                               

__divls                         
   __divls                            PSCDLIB                         

__divlsp                        
   __divlsp                           P                               

__divlu                         
   __divlu                            P                               

__divws                         
   __divws                            P                               

__divwu                         
   __divwu                            P                               

__dtoid                         
   __dtoid                            P                               

__i_addd                        
   __in_addd                          P                               
   __in_subd                          P                               

__i_adds                        
   __in_adds                          P                               
   __in_subs                          P                               

__i_divd                        
   __in_divd                          P                               

__i_divs                        
   __in_divs                          P                               

__i_fmdd                        
   __in_fmodd                         P                               

__i_fmds                        
   __in_fmods                         P                               

__i_lded                        
   __in_ldexpd                        P                               

__i_ldes                        
   __in_ldexps                        P                               

__i_muld                        
   __in_muld                          P                               

__i_muls                        
   __in_muls                          P                               

__i_sqrd                        
   __in_sqrtd                         P                               

__i_sqrs                        
   __in_sqrts                         P                               

__i_trnd                        
   __in_truncd                        P                               
                                      C

__i_trns                        
   __in_truncs                        P                               
                                      C

__idtod                         
   __idtod                            P                               

__in_eqd                        
   __in_eqd                           P                               

__in_eqs                        
   __in_eqs                           P                               

__in_gtd                        
   __in_gtd                           P                               

__in_gts                        
   __in_gts                           P                               

__istos                         
   __istos                            P                               

__istypd                        
   __istyped                          P                               

__istyps                        
   __istypes                          P                               

__itoid                         
   __itoid                            P                               

__itois                         
   __itois                            P                               

__modbs                         
   __modbs                            P                               

__modbu                         
   __modbu                            P                               

__modlnm                        
   __modlspnm                         P                               

__modls                         
   __modls                            PSCDLIB                         

__modlsp                        
   __modlsp                           P                               

__modlu                         
   __modlu                            P                               

__modws                         
   __modws                            P                               

__modwu                         
   __modwu                            P                               

__muli                          
   __muli                             P                               

__polind                        
   __polinod                          P                               

__polins                        
   __polinos                          P                               

__q_fmvn                        
   __quick_evn_mvn                    P                               
   __quick_odd_mvn                    P                               

__q_mvn                         
   __quick_mvn                        P                               

__q_scmp                        
   __quick_strcmp                     P                               
   _quick_strcmp1                     P                               

__q_scpy                        
   __quick_strcpy                     P                               
   _quick_strcpy1                     P                               

__s_mvn                         
   __slow_mvn                         P                               

__s_scmp                        
   __slow_strcmp                      P                               

__s_scpy                        
   __slow_strcpy                      P                               

__sftl                          
   __sftl                             PSCDLIB                         

__sftra                         
   __sftra                            PSCDLIB                         

__sftrl                         
   _SFTRL1                            PSCDLIB                         
   __sftrl                            PSCDLIB                         

__shift                         
   __sta_sftl0                        P                               
   __sta_sftl1                        P                               
   __sta_sftl10                       P                               
   __sta_sftl11                       P                               
   __sta_sftl12                       P                               
   __sta_sftl13                       P                               
   __sta_sftl14                       P                               
   __sta_sftl15                       P                               
   __sta_sftl16                       P                               
   __sta_sftl17                       P                               
   __sta_sftl18                       P                               
   __sta_sftl19                       P                               
   __sta_sftl2                        P                               
   __sta_sftl20                       P                               
   __sta_sftl21                       P                               
   __sta_sftl22                       P                               
   __sta_sftl23                       P                               
   __sta_sftl24                       P                               
   __sta_sftl25                       P                               
   __sta_sftl26                       P                               
   __sta_sftl27                       P                               
   __sta_sftl28                       P                               
   __sta_sftl29                       P                               
   __sta_sftl3                        P                               
   __sta_sftl30                       P                               
   __sta_sftl31                       P                               
   __sta_sftl4                        P                               
   __sta_sftl5                        P                               
   __sta_sftl6                        P                               
   __sta_sftl7                        P                               
   __sta_sftl8                        P                               
   __sta_sftl9                        P                               
   __sta_sftra0                       P                               
   __sta_sftra1                       P                               
   __sta_sftra10                      P                               
   __sta_sftra11                      P                               
   __sta_sftra12                      P                               
   __sta_sftra13                      P                               
   __sta_sftra14                      P                               
   __sta_sftra15                      P                               
   __sta_sftra16                      P                               
   __sta_sftra17                      P                               
   __sta_sftra18                      P                               
   __sta_sftra19                      P                               
   __sta_sftra2                       P                               
   __sta_sftra20                      P                               
   __sta_sftra21                      P                               
   __sta_sftra22                      P                               
   __sta_sftra23                      P                               
   __sta_sftra24                      P                               
   __sta_sftra25                      P                               
   __sta_sftra26                      P                               
   __sta_sftra27                      P                               
   __sta_sftra28                      P                               
   __sta_sftra29                      P                               
   __sta_sftra3                       P                               
   __sta_sftra30                      P                               
   __sta_sftra31                      P                               
   __sta_sftra4                       P                               
   __sta_sftra5                       P                               
   __sta_sftra6                       P                               
   __sta_sftra7                       P                               
   __sta_sftra8                       P                               
   __sta_sftra9                       P                               
   __sta_sftrl0                       P                               
   __sta_sftrl1                       P                               
   __sta_sftrl10                      P                               
   __sta_sftrl11                      P                               
   __sta_sftrl12                      P                               
   __sta_sftrl13                      P                               
   __sta_sftrl14                      P                               
   __sta_sftrl15                      P                               
   __sta_sftrl16                      P                               
   __sta_sftrl17                      P                               
   __sta_sftrl18                      P                               
   __sta_sftrl19                      P                               
   __sta_sftrl2                       P                               
   __sta_sftrl20                      P                               
   __sta_sftrl21                      P                               
   __sta_sftrl22                      P                               
   __sta_sftrl23                      P                               
   __sta_sftrl24                      P                               
   __sta_sftrl25                      P                               
   __sta_sftrl26                      P                               
   __sta_sftrl27                      P                               
   __sta_sftrl28                      P                               
   __sta_sftrl29                      P                               
   __sta_sftrl3                       P                               
   __sta_sftrl30                      P                               
   __sta_sftrl31                      P                               
   __sta_sftrl4                       P                               
   __sta_sftrl5                       P                               
   __sta_sftrl6                       P                               
   __sta_sftrl7                       P                               
   __sta_sftrl8                       P                               
   __sta_sftrl9                       P                               

__stois                         
   __stois                            P                               

_a_atand                        
   __app_atand                        P                               
                                      C

_a_atans                        
   __app_atans                        P                               
                                      C

_a_cosd                         
   __app_cosd                         P                               
                                      C

_a_coss                         
   __app_coss                         P                               
                                      C

_a_sind                         
   __app_sind                         P                               
                                      C

_a_sins                         
   __app_sins                         P                               
                                      C

_add                            
   __add                              P                               

_allzero                        
   __allzero                          P                               

_alocbuf                        
   __alocbuf                          P                               
                                      B

_calcfpo                        
   __calcfpow                         P                               

_calcint                        
   __calcint                          P                               

_calcnpw                        
   __calcnpw                          P                               

_calcpow                        
   __calcpow                          P                               

_ctype                          
   __ctype                            C                               

_div64                          
   __div64                            P                               

_divi                           
   __divi                             P                               

_dti                            
   __dti                              P                               

_duchek                         
   __duchek                           P                               

_errno                          
   __errno                            B                               

_fabs                           
   _fabs                              P                               

_fabsf                          
   _fabsf                             P                               

_fillbuf                        
   __fillbuf                          P                               

_flclose                        
   __flclose                          P                               

_flopen                         
   __flopen                           P                               
                                      C

_flshbuf                        
   __flshbuf                          P                               

_fmtin                          
   __fmtin                            P                               
                                      D
                                      B

_fmtout                         
   __fmtout                           P                               
                                      D
                                      B

_freeptr                        
   __freeptr                          D                               

_frexp                          
   _frexp                             P                               

_frexpf                         
   _frexpf                            P                               

_i_acosd                        
   __in_acosd                         P                               

_i_acoss                        
   __in_acoss                         P                               

_i_asind                        
   __in_asind                         P                               

_i_asins                        
   __in_asins                         P                               

_i_atand                        
   __in_atand                         P                               
                                      C

_i_atans                        
   __in_atans                         P                               
                                      C

_i_atn2d                        
   __in_atan2d                        P                               

_i_atn2s                        
   __in_atan2s                        P                               

_i_ceild                        
   __in_ceild                         P                               

_i_ceils                        
   __in_ceils                         P                               

_i_coshd                        
   __in_coshd                         P                               

_i_coshs                        
   __in_coshs                         P                               

_i_flord                        
   __in_floord                        P                               

_i_flors                        
   __in_floors                        P                               

_i_log0d                        
   __in_log10d                        P                               
                                      C

_i_log0s                        
   __in_log10s                        P                               
                                      C

_i_modfd                        
   __in_modfd                         P                               

_i_modfs                        
   __in_modfs                         P                               

_i_sinhd                        
   __in_sinhd                         P                               
                                      C

_i_sinhs                        
   __in_sinhs                         P                               
                                      C

_i_tanhd                        
   __in_tanhd                         P                               
                                      C

_i_tanhs                        
   __in_tanhs                         P                               
                                      C

_in_cosd                        
   __in_cosd                          P                               

_in_coss                        
   __in_coss                          P                               

_in_expd                        
   __in_expd                          P                               
                                      C

_in_exps                        
   __in_exps                          P                               
                                      C

_in_logd                        
   __in_logd                          P                               
                                      C

_in_logs                        
   __in_logs                          P                               
                                      C

_in_powd                        
   __in_powd                          P                               

_in_pows                        
   __in_pows                          P                               

_in_sind                        
   __in_sind                          P                               

_in_sins                        
   __in_sins                          P                               

_in_tand                        
   __in_tand                          P                               
                                      C

_in_tans                        
   __in_tans                          P                               
                                      C

_iob                            
   __iob                              B                               

_its                            
   __its                              P                               
                                      C

_log10                          
   __log10                            P                               

_lsft                           
   __lsft                             P                               

_lsfts                          
   __lsfts                            P                               

_mult                           
   __mult                             P                               

_mult64                         
   __mult64                           P                               

_pack                           
   __pack                             P                               

_packf                          
   __packf                            P                               

_pow10                          
   __pow10                            P                               

_pow5                           
   __pow5                             P                               
                                      C

_power                          
   __power                            P                               
                                      C

_putcsub                        
   __putcsub                          P                               

_rnd                            
   __rnd                              P                               

_rnext                          
   __rnext                            D                               

_rsft                           
   __rsft                             P                               

_rsfts                          
   __rsfts                            P                               

_setsbit                        
   __setsbit                          P                               

_std                            
   __std                              P                               
                                      B

_stf                            
   __stf                              P                               
                                      B

_strchek                        
   __strchek                          P                               

_sub                            
   __sub                              P                               

_umemcmp                        
   __umemcmp                          P                               

_unpack                         
   __unpack                           P                               

abs                             
   _abs                               P                               

acos                            
   _acos                              P                               

acosf                           
   _acosf                             P                               

asin                            
   _asin                              P                               

asinf                           
   _asinf                             P                               

atan                            
   _atan                              P                               

atan2                           
   _atan2                             P                               

atan2f                          
   _atan2f                            P                               

atanf                           
   _atanf                             P                               

atof                            
   _atof                              P                               

atoi                            
   _atoi                              P                               

atol                            
   _atol                              P                               

bsearch                         
   _bsearch                           P                               

calloc                          
   _calloc                            P                               

ceil                            
   _ceil                              P                               

ceilf                           
   _ceilf                             P                               

clearerr                        
   _clearerr                          P                               

constd                          
   __2PAID                            C                               
   __FOURD                            C                               
   __HALFD                            C                               
   __HLFPAID                          C                               
   __IFINFD                           C                               
   __IFNAND                           C                               
   __IFONED                           C                               
   __IFZEROD                          C                               
   __LOGE2D                           C                               
   __N2PAID                           C                               
   __NFOURD                           C                               
   __NHALFD                           C                               
   __NHLFPAID                         C                               
   __NIFINFD                          C                               
   __NIFONED                          C                               
   __NIFZEROD                         C                               
   __NLOGE2D                          C                               
   __NPAID                            C                               
   __NQUOPAID                         C                               
   __NQUOTD                           C                               
   __NTWOD                            C                               
   __PAID                             C                               
   __QUOPAID                          C                               
   __QUOTD                            C                               
   __TWOD                             C                               

consts                          
   __2PAIS                            C                               
   __FOURS                            C                               
   __HALFS                            C                               
   __HLFPAIS                          C                               
   __IFINFS                           C                               
   __IFNANS                           C                               
   __IFONES                           C                               
   __IFZEROS                          C                               
   __LOGE2S                           C                               
   __N2PAIS                           C                               
   __NFOURS                           C                               
   __NHALFS                           C                               
   __NHLFPAIS                         C                               
   __NIFINFS                          C                               
   __NIFONES                          C                               
   __NIFZEROS                         C                               
   __NLOGE2S                          C                               
   __NPAIS                            C                               
   __NQUOPAIS                         C                               
   __NQUOTS                           C                               
   __NTWOS                            C                               
   __PAIS                             C                               
   __QUOPAIS                          C                               
   __QUOTS                            C                               
   __TWOS                             C                               

copyrigh                        
   __copyright                        D                               
   __program_name                     D                               

cos                             
   _cos                               P                               

cosf                            
   _cosf                              P                               

cosh                            
   _cosh                              P                               

coshf                           
   _coshf                             P                               

div                             
   _div                               P                               

exp                             
   _exp                               P                               

expf                            
   _expf                              P                               

fclose                          
   _fclose                            P                               

feof                            
   _feof                              P                               

ferror                          
   _ferror                            P                               

fflush                          
   _fflush                            P                               

fgetc                           
   _fgetc                             P                               

fgets                           
   _fgets                             P                               

floatval                        
   __DBL_MAX_VAL                      C                               
   __DBL_MIN_VAL                      C                               
   __FLT_MAX_VAL                      C                               
   __FLT_MIN_VAL                      C                               
   __LDBL_MAX_VAL                     C                               
   __LDBL_MIN_VAL                     C                               

floor                           
   _floor                             P                               

floorf                          
   _floorf                            P                               

fmod                            
   _fmod                              P                               

fmodf                           
   _fmodf                             P                               

fopen                           
   _fopen                             P                               

fprintf                         
   _fprintf                           P                               

fputc                           
   _fputc                             P                               

fputs                           
   _fputs                             P                               

fread                           
   _fread                             P                               

free                            
   _free                              P                               

freopen                         
   _freopen                           P                               

fscanf                          
   _fscanf                            P                               

fseek                           
   _fseek                             P                               

ftell                           
   _ftell                             P                               

fwrite                          
   _fwrite                            P                               

getc                            
   _getc                              P                               

getchar                         
   _getchar                           P                               

gets                            
   _gets                              P                               

hugeval                         
   __HUGE_VAL                         C                               

isalnum                         
   _isalnum                           P                               

isalpha                         
   _isalpha                           P                               

iscntrl                         
   _iscntrl                           P                               

isdigit                         
   _isdigit                           P                               

isgraph                         
   _isgraph                           P                               

islower                         
   _islower                           P                               

isprint                         
   _isprint                           P                               

ispunct                         
   _ispunct                           P                               

isspace                         
   _isspace                           P                               

isupper                         
   _isupper                           P                               

isxdigit                        
   _isxdigit                          P                               

labs                            
   _labs                              P                               

ldexp                           
   _ldexp                             P                               

ldexpf                          
   _ldexpf                            P                               

ldiv                            
   _ldiv                              P                               

log                             
   _log                               P                               

log10                           
   _log10                             P                               

log10f                          
   _log10f                            P                               

logf                            
   _logf                              P                               

longjmp                         
   _longjmp                           P                               
                                      B

malloc                          
   _malloc                            P                               

memchr                          
   _memchr                            P                               

memcmp                          
   _memcmp                            P                               

memcpy                          
   _memcpy                            P                               

memmove                         
   _memmove                           P                               

memset                          
   _memset                            P                               

modf                            
   _modf                              P                               

modff                           
   _modff                             P                               

perror                          
   _perror                            P                               
                                      C

pow                             
   _pow                               P                               

powf                            
   _powf                              P                               

printf                          
   _printf                            P                               

putc                            
   _putc                              P                               

putchar                         
   _putchar                           P                               

puts                            
   _puts                              P                               

qsort                           
   __qsort                            P                               
   _qsort                             P                               
                                      B

r_addd                          
   __addd                             P                               
   __subd                             P                               
   __subdr                            P                               

r_adds                          
   __adds                             P                               
   __subs                             P                               

r_divd                          
   __divd                             P                               
   __divdr                            P                               

r_divs                          
   __divs                             P                               

r_dtoi                          
   __dtoi                             P                               
   __dtou                             P                               

r_dtos                          
   __dtos                             P                               

r_eqd                           
   __eqd                              P                               

r_eqs                           
   __eqs                              P                               

r_ged                           
   __ged                              P                               

r_ges                           
   __ges                              P                               

r_gtd                           
   __gtd                              P                               

r_gts                           
   __gts                              P                               

r_itod                          
   __itod                             P                               

r_itos                          
   __itos                             P                               

r_led                           
   __led                              P                               

r_les                           
   __les                              P                               

r_ltd                           
   __ltd                              P                               

r_lts                           
   __lts                              P                               

r_muld                          
   __muld                             P                               

r_muls                          
   __muls                             P                               

r_ned                           
   __ned                              P                               

r_negd                          
   __negd                             P                               

r_negs                          
   __negs                             P                               

r_nes                           
   __nes                              P                               

r_poad                          
   __poad                             P                               

r_poas                          
   __poas                             P                               

r_posd                          
   __posd                             P                               

r_poss                          
   __poss                             P                               

r_stod                          
   __stod                             P                               

r_stoi                          
   __stoi                             P                               
   __stou                             P                               

r_utod                          
   __utod                             P                               

r_utos                          
   __utos                             P                               

rand                            
   _rand                              P                               

realloc                         
   _realloc                           P                               

rewind                          
   _rewind                            P                               

scanf                           
   _scanf                             P                               

setbuf                          
   _setbuf                            P                               

setjmp                          
   _setjmp                            P                               

setvbuf                         
   _setvbuf                           P                               

sin                             
   _sin                               P                               

sinf                            
   _sinf                              P                               

sinh                            
   _sinh                              P                               

sinhf                           
   _sinhf                             P                               

sprintf                         
   _sprintf                           P                               

sqrt                            
   _sqrt                              P                               

sqrtf                           
   _sqrtf                             P                               

srand                           
   _srand                             P                               

sscanf                          
   _sscanf                            P                               

strcat                          
   _strcat                            P                               

strchr                          
   _strchr                            P                               

strcmp                          
   _strcmp                            P                               

strcpy                          
   _strcpy                            P                               

strcspn                         
   _strcspn                           P                               

strerror                        
   _strerror                          P                               
                                      C

strlen                          
   _strlen                            P                               

strncat                         
   _strncat                           P                               

strncmp                         
   _strncmp                           P                               

strncpy                         
   _strncpy                           P                               

strpbrk                         
   _strpbrk                           P                               

strrchr                         
   _strrchr                           P                               

strspn                          
   _strspn                            P                               

strstr                          
   _strstr                            P                               

strtod                          
   _strtod                            P                               
                                      C

strtok                          
   __s1ptr                            B                               
   _strtok                            P                               

strtol                          
   _strtol                            P                               

tan                             
   _tan                               P                               

tanf                            
   _tanf                              P                               

tanh                            
   _tanh                              P                               

tanhf                           
   _tanhf                             P                               

tolower                         
   _tolower                           P                               

toupper                         
   _toupper                           P                               

ungetc                          
   _ungetc                            P                               

vfprintf                        
   _vfprintf                          P                               

vprintf                         
   _vprintf                           P                               

vsprintf                        
   _vsprintf                          P                               

