/* This CSS sets the default styles for the base components. */

/* ---------- Links ---------- */

.green a {
	color: #060;
}

.green a:hover {
	color: #0c0;
}

.green a:visited {
}

/* ---------- Banner ---------- */

.green #banner {
	background-image: url(../../images/color_schemes/green/common/banner_bg.png);
}

.green #banner .logo {
	background-image: url(../../images/color_schemes/green/common/banner_bg.png);
}

/* ---------- Alerts and popups ---------- */

.green .popup {
	border-color: #8df78c;
}

.green .popup-header {
	background: #eff1ee;
	border-bottom-color: #777;
}

/* ---------- Portal tool tips ---------- */

.green .portal-tool-tip {
	background: #DCDCDC;
	border-color: #BFBFBF;
}

/* ---------- Autocomplete styles ---------- */

.green .autocomplete-box {
	background: #e6f2e2;
	border-color: #b5d7ab;
}

.green .autocomplete-selected {
	background: #c8e3c0;
	border-bottom-color: #b5d7ab;
	border-top-color: #b5d7ab;
}

/* ---------- Separator ---------- */

.green .separator {
	border-color: #CCC;
}

/* This CSS sets the default styles for the main navigation. */

/* ---------- Main navigation ---------- */

.green #navigation li {
	background-image: url(../../images/color_schemes/green/navigation/bg.gif);
}

.green #navigation li a {
	background-image: url(../../images/color_schemes/green/navigation/bg.gif);
}

.green #navigation li a span {
	background-image: url(../../images/color_schemes/green/navigation/bullet.gif);
}

.green #navigation li.selected a span {
	background-image: url(../../images/color_schemes/green/navigation/bullet_selected.gif);
	font-weight: bold;
}

.green #navigation li a:hover span {
	background-image: url(../../images/color_schemes/green/navigation/bullet_over.gif);
}

/* ---------- Dock with Javascript ---------- */

.js .green .lfr-dock h2 {
	background-image: url(../../images/color_schemes/green/dock/menu_bar.png);
}

.js .green .lfr-dock h2 span {
	background-image: url(../../images/color_schemes/green/dock/menu_bar.png);
	color: #333;
}

.js .green .lfr-dock.expanded .lfr-dock-list-container {
	background-color: #628c60;
	border-color: #a0c695;
}

.js .green .lfr-dock ul {
	border-left-color: #dbefda;
}

.js .green .lfr-dock li a {
	border-top-color: #ccc;
}

.js .green .lfr-dock li a:hover {
	background-color: #FFF5BA;
	border-top-color: #E0D79F;
}

.js .green .lfr-dock li.my-places li ul li.current a, .js .green .lfr-dock li.my-places li ul li.current a:hover {
	background-color: #eefde5;
}

.js .green .my-places .show-my-places {
	background: #fff;
	border-color: #ccc;
}

.js .green .my-places .show-my-places li .my-places-toggle {
	border-bottom-color: #999;
	color: #333;
}

.js .green .my-places .show-my-places li ul {
	background: none no-repeat 3px 50%;
	border: none;
}

/*------ Drag/drop menu items ------*/

.green #navigation ul .sort-helper {
	background-image: url(../../images/color_schemes/green/portlet/placeholder_bg.gif);
	border-color: #69b450;
}

/* This CSS sets the default styles for portlets. */

/* ---------- Portlet wrapper and icons ---------- */

.green .portlet, .green .portlet-topper, .green .portlet-content, .green .portlet-title {
	background-image: url(../../images/color_schemes/green/portlet/portlet_bg.png);
}

/* ---------- Drag and drop ---------- */

.green .portlet-dragging {
	background-color: #FFFFE3 !important;
	border-color: #666;
}

.green .portlet-hover {
	background-color: #ddd;
}

.green .portlet-placeholder {
	background-image: url(../../images/color_schemes/green/portlet/placeholder_bg.gif);
	border-color: #69b450;
}

/* ---------- Standard styles defined in the JSR 168 ---------- */

/* ---------- Fonts ---------- */

/* ---------- Font attributes for the 'normal' fragment font ---------- */

.green .portlet-font {
}

/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */

.green .portlet-font-dim {
}

/* ---------- Messages ---------- */

/* ---------- Status of the current operation ---------- */

.green .portlet-msg-status {
}

/* ---------- Help messages, general additional information, etc. ---------- */

.green .portlet-msg-info {
	background-color: #FAFAFA;
	border-color: #53B2F8;
	color: #777;
}

/* ---------- Error messages ---------- */

.green .portlet-msg-error {
	border-color: #900;
}

/* ---------- Warning messages ---------- */

.green .portlet-msg-alert {
	border-color: #EFEFEF;
}

/* ---------- Success messages ---------- */

.green .portlet-msg-success {
	border-color: #3F9305;
}

/* ---------- Sections ---------- */

/* ---------- Table or section header ---------- */

.green .portlet-section-header {
	background: #dcecd9;
}

.green .portlet-section-header th {
	border-bottom-color: #ccc;
	color: #333;
}

/* ---------- Normal text in a table cell ---------- */

.green .portlet-section-body {
}

.green .portlet-section-body td {
	background-color: #DCDCDC;
	border-top-color: #BFBFBF;
}

/* ---------- Text in every other row in the cell ---------- */

.green .portlet-section-alternate {
}

.green .portlet-section-alternate td {
	background-color: #fff;
	border-top-color: #BFBFBF;
}

.green .portlet-section-alternate.hover td, .green .portlet-section-body.hover td {
	background-color: #FFF5BA;
	border-bottom-color: #E0D79F;
	border-top-color: #E0D79F;
}

/* ---------- Text in a selected cell range ---------- */

.green .portlet-section-selected {
}

/* ---------- Text of a subheading ---------- */

.green .portlet-section-subheader {
}

/* ---------- Table or section footnote ---------- */

.green .portlet-section-footer {
}

/* ---------- Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the section) ---------- */

.green .portlet-section-text {
}

/* ---------- Forms ---------- */

/* ---------- Text used for the descriptive label of the whole form (not the labels for fields) ---------- */

.green .portlet-form-label {
}

/* ---------- Text of the user-input in an input field ---------- */

.green .portlet-form-input-field {
}

/* ---------- Text on a button ---------- */

.green .portlet-form-button {
}

/* ---------- Text that appears beside a context dependent action icon ---------- */

.green .portlet-icon-label {
}

/* ---------- Text that appears beside a 'standard' icon (e.g. Ok, or Cancel) ---------- */

.green .portlet-dlg-icon-label {
}

/* ---------- Text for a separator of fields (e.g. checkboxes, etc.) ---------- */

.green .portlet-form-field-label {
}

/* ---------- Text for a field (not input field, e.g. checkboxes, etc.) ---------- */

.green .portlet-form-field {
}

/* ---------- Menus ---------- */

/* ---------- General menu settings such as background color, margins, etc. ---------- */

.green .portlet-menu {
}

/* ---------- Normal, unselected menu item ---------- */

.green .portlet-menu-item {
}

/* ---------- Selected menu item ---------- */

.green .portlet-menu-item-selected {
}

/* ---------- Normal, unselected menu item when the mouse hovers over it ---------- */

.green .portlet-menu-item-hover {
}

/* ---------- Selected menu item when the mouse hovers over it ---------- */

.green .portlet-menu-item-hover-selected {
}

/* ---------- Normal, unselected menu item that has sub-menus ---------- */

.green .portlet-menu-cascade-item {
}

/* ---------- Selected sub-menu item that has sub-menus ---------- */

.green .portlet-menu-cascade-item-selected {
}

/* ---------- Descriptive text for the menu (e.g. in a help context below the menu) ---------- */

.green .portlet-menu-description {
}

/* ---------- Menu caption ---------- */

.green .portlet-menu-caption {
}

/* This CSS sets the default styles for tabs. */

.green .tabs {
	border-bottom-color: #91e38d;
}

.green .tabs li {
	background-image: url(../../images/color_schemes/green/common/tabs_bg.gif);
}

.green .tabs li a, .green .tabs li span {
	background-image: url(../../images/color_schemes/green/common/tabs_bg.gif);
}

.green .tabs li.current {
	background-image: url(../../images/color_schemes/green/common/tabs_bg.gif);
}

.green .tabs li.current a, .green .tabs li.current span {
	background-image: url(../../images/color_schemes/green/common/tabs_bg.gif);
	color: #333;
}

/* This CSS sets the default styles for forms. */

.green fieldset {
	border-color: #ccc;
}

.green input[type="text"], .green input[type="password"], .green input[type="file"], .green input[type="submit"], .green input[type="button"], .green input[type="reset"], .green select, .green textarea {
	background-image: url(../../images/color_schemes/green/forms/input_shadow.gif);
	border-color: #aaa;
	border-left-color: #777;
	border-top-color: #777;
}

.green input[type="image"] {
	background: transparent none;
	border: none;
}

.green input[type="submit"], .green input[type="button"], .green input[type="reset"] {
	background: #FAFAFA url(../../images/color_schemes/green/forms/button.gif) repeat-x;
	border-color: #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 .green input.text, .ie6 .green input.password, .ie6 .green input.submit, .ie6 .green input.file, .ie6 .green input.button {
	background-image: url(../../images/color_schemes/green/forms/input_shadow.gif);
	border-color: #aaa;
	border-left-color: #777;
	border-top-color: #777;
}

.ie6 .green input.submit, .ie6 .green input.button {
	background: #FAFAFA url(../../images/color_schemes/green/forms/button.gif) repeat-x;
	border-color: #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
}