<?xml version="1.0" encoding="UTF-8"?><templates><template autoinsert="true" context="xml_all" deleted="false" description="spring bean 's create template" enabled="true" name="spring-bean">&lt;?xml version="1.0" encoding="UTF-8"?&gt;&#13;
&lt;!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"&gt;&#13;
&#13;
&lt;beans&gt;&#13;
	&lt;!-- ************************** DAO SETTING *********************************--&gt;&#13;
	&lt;!-- DAO object: Hibernate implementation --&gt;&#13;
	&lt;bean id="" class=""&gt;&#13;
		&lt;property name="baseDAO"&gt;&#13;
			&lt;ref bean="baseDAO"/&gt;&#13;
		&lt;/property&gt;&#13;
	&lt;/bean&gt;&#13;
&#13;
	&lt;!-- ************************** SERVICE SETTING *****************************--&gt;&#13;
	&lt;!-- ***** security SERVICE *****--&gt;&#13;
	&lt;bean id="" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"&gt;&#13;
		&lt;property name="transactionManager"&gt;&#13;
			&lt;ref bean="transactionManager"/&gt;&#13;
		&lt;/property&gt;&#13;
		&lt;property name="target"&gt;&#13;
			&lt;bean class=""&gt;&#13;
				&lt;property name=""&gt;&#13;
					&lt;ref bean=""/&gt;&#13;
				&lt;/property&gt;&#13;
			&lt;/bean&gt;&#13;
		&lt;/property&gt;&#13;
		&lt;property name="transactionAttributes"&gt;&#13;
			&lt;props&gt;&#13;
				&lt;prop key="remove*"&gt;PROPAGATION_REQUIRED&lt;/prop&gt;&#13;
				&lt;prop key="find*"&gt;PROPAGATION_REQUIRED,readOnly&lt;/prop&gt;&#13;
				&lt;prop key="save*"&gt;PROPAGATION_REQUIRED&lt;/prop&gt;&#13;
				&lt;prop key="delete*"&gt;PROPAGATION_REQUIRED&lt;/prop&gt;&#13;
				&lt;prop key="*"&gt;PROPAGATION_REQUIRED,readOnly&lt;/prop&gt;&#13;
			&lt;/props&gt;&#13;
		&lt;/property&gt;&#13;
	&lt;/bean&gt;&#13;
	&#13;
	&lt;bean id="" class=""&gt;&#13;
		&lt;property name="baseDAO"&gt;&#13;
			&lt;ref bean="baseDAO"/&gt;&#13;
		&lt;/property&gt;&#13;
	&lt;/bean&gt;&#13;
&lt;/beans&gt;&#13;
</template></templates>