Dear [$TO_NAME$],<br /><br />

Your request to join the comunity [$COMMUNITY_NAME$] have been [$STATUS$].<br /><br />

Here are some comments made by the community administrator<br /><br />

----------<br />

[$REPLY_COMMENTS$]<br />

----------<br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
http://[$PORTAL_URL$]<br />