Dear [$TO_NAME$],<br /><br />

There is a new membership request for the community [$COMMUNITY_NAME$] from user [$USER_NAME$] ([$USER_ADDRESS$]).<br />

You are receiving this email because you are administrator of that community. Please use to the communities administration tool in the portal to reply to this request.<br /><br />

The user added the following comments to the request:<br /><br />

----------<br />

[$COMMENTS$]<br />

----------<br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
http://[$PORTAL_URL$]<br />