<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>baoming</display-name>

    <context-param>
        <param-name>configFile</param-name>
        <param-value>/oneks.properties</param-value>
    </context-param>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>ksbm.root</param-value>
    </context-param>

	<context-param>
		<param-name>uploadFilePath</param-name>
		<param-value>pages/upload/</param-value>
	</context-param>
	<context-param>
		<param-name>securityConfigPath</param-name>
		<param-value>WEB-INF/security/acl-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>indexPath</param-name>
		<param-value>WEB-INF/index/</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring/*.xml</param-value>
	</context-param>

    
    <!--由Sprng载入的Log4j配置文件位置-->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.properties</param-value>
    </context-param>


	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.king.framework.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Acl Filter</filter-name>
		<filter-class>org.king.security.web.filter.AclFilter</filter-class>
	</filter>
	<filter>
		<filter-name>Compression Filter</filter-name>
		<filter-class>org.king.framework.web.filter.compression.CompressionFilter</filter-class>
		<init-param>
			<param-name>compressionThreshold</param-name>
			<param-value>10</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
	</filter>
	


    
	    <filter>
        <filter-name>hibernateFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    </filter>
	
 
 
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Acl Filter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Compression Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 

    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>hibernateFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
 

    
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!--Spring log4j Config loader-->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
	
	
	<listener>
		<listener-class>org.king.security.web.listener.InitListener</listener-class>
	</listener>
	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts/struts-config.xml,/WEB-INF/struts/struts-config-security.xml,/WEB-INF/struts/struts-config-manager.xml,/WEB-INF/struts/struts-config-student.xml,/WEB-INF/struts/struts-config-upload.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>webGui-init</servlet-name>
		<servlet-class>com.pow2.webgui.resources.WebGuiInit</servlet-class>
		<init-param>
			<param-name>webGui.prototypes.properties</param-name>
			<param-value>/WEB-INF/webgui/wgPrototypes.properties</param-value>
		</init-param>
		<init-param>
			<param-name>webGui.velocity.properties</param-name>
			<param-value>/WEB-INF/webgui/velocity.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DictionaryInit</servlet-name>
		<servlet-class>org.king.classmanage.web.servlet.DictionaryInitServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>

	</servlet>
	<servlet>
		<servlet-name>CheckCodeImage</servlet-name>
		<servlet-class>org.king.security.web.servlet.CheckCodeImage</servlet-class>
	</servlet>


	<!-- Standard Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- CheckCode Image Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>CheckCodeImage</servlet-name>
		<url-pattern>/CheckCodeImage</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>EcardImageServlet</servlet-name>
		<servlet-class>org.king.business.web.action.EcardImageServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EcardImageServlet</servlet-name>
		<url-pattern>/ecardimage/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoExportServlet</servlet-name>
		<servlet-class>org.king.business.web.action.PhotoExportServlet</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PhotoExportServlet</servlet-name>
		<url-pattern>/photoexport/*</url-pattern>
	</servlet-mapping>
	

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!-- The Usual Welcome File List -->
	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	   <!--Error Page-->
     <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
	<!-- Struts Tag Library Descriptors -->
	<taglib>
		<taglib-uri>/tags/struts-bean</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-html</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-logic</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-nested</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/struts-tiles</taglib-uri>
		<taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/pager</taglib-uri>
		<taglib-location>/WEB-INF/taglib/pager-taglib.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/pow2webgui</taglib-uri>
		<taglib-location>/WEB-INF/taglib/pow2webgui.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/fmt-rt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/c-rt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
		<taglib-location>/WEB-INF/taglib/sql.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
		<taglib-location>/WEB-INF/taglib/sql-rt.tld</taglib-location>
	</taglib>
	
	<resource-ref>
    <res-ref-name>jdbc/baoming</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>

</web-app>

