<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <profile>
		<id>repo</id>
		<repositories>
			<repository>
				<id>nexus</id>
				<url>http://10.253.42.126:8081/nexus/content/groups/public</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</repository>
		</repositories>
		<pluginRepositories>
			<pluginRepository>
				<id>nexus</id>
				<url>http://10.253.42.126:8081/nexus/content/groups/public</url>
				<releases>
					<enabled>true</enabled>
				</releases>
				<snapshots>
					<enabled>true</enabled>
				</snapshots>
			</pluginRepository>
		</pluginRepositories>
	</profile>
  </profiles>
  
  <activeProfiles>
    <activeProfile>repo</activeProfile>
  </activeProfiles>
</settings>

