.td

{

	BACKGROUND-COLOR:#dadada;

	FONT-SIZE:15;

	text-align:center;	

}

.td2

{

        FONT-SIZE:15;

        text-align:center;

        HEIGHT:30;

}

.text

{

	BORDER-BOTTOM-STYLE: none; 

	BORDER-LEFT-STYLE: groove; 

	BORDER-RIGHT-STYLE: groove; 

	BORDER-TOP-STYLE: none;

	FONT-SIZE:small;

}

.table

{

	BORDER-BOTTOM-STYLE: none; 

	BORDER-LEFT-STYLE: none; 

	BORDER-RIGHT-STYLE: none; 

	BORDER-TOP-STYLE: none;

	WIDTH:90%;

}

.table2

{

	BORDER-BOTTOM-STYLE: none; 

	BORDER-LEFT-STYLE: none; 

	BORDER-RIGHT-STYLE: none; 

	BORDER-TOP-STYLE: none;

	WIDTH:100%;

}

.button

{

	BORDER-BOTTOM-STYLE: groove; 

	BORDER-LEFT-STYLE: outset; 

	BORDER-RIGHT-STYLE: groove; 

	BORDER-TOP-STYLE: outset;

	FONT-SIZE:small;

}

