## boWindow upper part;

#if ($titleType == "image")
    #set( $templateTitle = "<img class='wTitle' src='${title}'>" )    
#else
    #set( $templateTitle = "<span class='wTitle'>${title}</span>" )   
#end

#if ($color == "")
    #set( $width = "100%" )
#else
    #set( $width = "${color}" )
#end


<table width="100%" align="center" cellspacing="0" cellpadding="0">
	<tr>
		<td class="mframe-t-left"></td>
		<td class="mframe-t-mid">
			<span class="mframe-t-text">$templateTitle</span>
		</td>
		<td class="mframe-t-right"></td>
	</tr>
</table>
<table width="100%" align="center" cellspacing="0" cellpadding="0">
	<tr>
		<td class="mframe-m-left"></td>
		<td class="mframe-m-mid">