body{margin:0px; padding:0px; width:1024px;}
#main{}
#top{ background:#003366; height:200px; width:100%;}

#mid_top{ background-image:url(/smartbank/pages/images/top.jpg);height:164px; width:1024px;}
#middle{ background-image:url(/smartbank/pages/images/middle.jpg); width:1024px; height:357px;}
#mid_center{ height:73px;}

#mid_center a:link{background-image:url(/smartbank/pages/images/h1.gif); width:224px; height:73px;}
#mid_center a:hover{background-image:url(/smartbank/pages/images/h2.gif); width:224px; height:73px;}


#mid_under{  height:200px;}
#mid_bot{ height:120px;}
#bottom{background-image:url(/smartbank/pages/images/bottom.jpg); height:247px; width:1024px;}
#Layer1 {
	position:absolute;
	left:20px;
	top:140px;
	width:96%;
	height:120px;
	z-index:1;
}
#Layer2 {
	position:absolute;
	left:40px;
	top:140px;
	width:45%;
	height:120px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:640px;
	top:140px;
	width:30%;
	height:120px;
	z-index:1;
}
#screencenter {
	   position:absolute;
	   left:300px;
	   top:300px;
	   width:50%;
	   height:120px;
	   z-index:1;
      }
#buttonbottom{
       position:absolute;
	   left:300px;
	   top:600px;
	   width:50%;
}
.clear{clear:both;}
.msgcenter{
   font-size:28px;
   line-height:50px;
   color:white;
}
.inputbox{
 height:28px;width:150px;font-size:25px
 
}
.message{
    font-family: "黑体"; 
	color: red; 
	font-size: 18px; 
}
.样式5 {
			font-family: "宋体"; 
			color: #000000;
			font-size: 25px;
			}
.样式13 {
			font-family: "宋体"; 
			color: #ff0000; 
			font-size: 25px; 
}   
#login{height:376px;}
#login_left{ background-image:url(/smartbank/pages/images/login1.gif); width:57px; height:376px; float:left;}
#login_right{ background-image:url(/smartbank/pages/images/login3.gif); width:62px;height:376px; float:left;}
#login_middle{ background-image:url(/smartbank/pages/images/login2.gif); background-repeat:repeat-x; float:left; width:800px;height:376px;}
#login_middle ul{ padding-left:0px; margin-left:0px;}
#login_middle ul li{ list-style:none; margin-bottom:15px;background-image:url(/smartbank/pages/images/key.gif); width:67px; height:54px; float:left; margin-right:4px;}
#login_input{margin-top:30px; text-align:center;}
#login_blank{margin-top:30px; text-align:center;}
#login_blank1{margin-top:15px; text-align:center;}
#login_blank2{margin-top:5px; text-align:center;}
#login_buttom{margin-top:30px; text-align:center; margin-left:20px;}
.sure{
background-image:url(/smartbank/pages/images/botton.gif); width:114px; height:52px; border:0px; margin-right:20px; }
.cancel{
background-image:url(/smartbank/pages/images/cancel.gif); width:114px; height:52px; border:0px;margin-left:20px;}
.back{
background-image:url(/smartbank/pages/images/back.gif); width:109px; height:45px; border:0px;margin-left:20px;}
.previce{
background-image:url(/smartbank/pages/images/previce.gif); width:109px; height:45px; border:0px;margin-left:20px;}
.next{
background-image:url(/smartbank/pages/images/next.gif); width:109px; height:45px; border:0px;margin-left:20px;}
.info {
	font-family: "宋体";
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}
.show {
	font-family: "宋体";
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
}
#miss{
background-image:url(/smartbank/pages/images/miss.gif); width:908px; height:608px;}

#mis{float:left; width:550px;height:376px;}
#mis ul li{ list-style:none;width:67px; margin-bottom:15px;background-image:url(/smartbank/pages/images/key.gif); width:67px; height:54px; float:left; margin-right:2px;text-align:center;}

#content{height:499px;}
#content_left{ background-image:url(/smartbank/pages/images/con_left.gif); width:24px; height:499px; float:left;}
#content_right{ background-image:url(/smartbank/pages/images/con_right.gif); width:18px;height:499px; float:left;}
#content_middle{ background-image:url(/smartbank/pages/images/con_bj.gif); background-repeat:repeat-x; float:left; width:870px;height:499px;}
#content_middle ul{ padding-left:0px; margin-left:0px;}
#content_middle ul li{ list-style:none; margin-bottom:15px;background-image:url(/smartbank/pages/images/key.gif); width:67px; height:54px; float:left; margin-right:4px;}
#content_buttom{
text-align:center; margin-top:20px;}
.boxtd{
padding-left:10px;
}
td{
line-height:23px;
font-size:12px;
}
.box{
border:1px solid #E3E3E3;
border-collapse :collapse;
height:25px;
color:#000;
/*background:#E5ECF2;*/
}
.box td{
 border:1px solid #E3E3E3;
}
td{font-family:"宋体"; font-size:18px; padding:2px 5px 0px 10px;}

