/* alternative styles */
table.its thead tr {
	background-color: #69c;
}

table.its tr.even {
	background-color: #def;
}

table.mars thead tr {
	background-color: #9c9;
}

table.mars tr.even {
	background-color: #ccb;
}

table.mars tr.odd {
	background-color: #eec;
}

table.simple thead tr th {
	background-color: #eee;
}

table.simple tr.even {
	background-color: #fff;
}

table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th {
	border: 1px solid #ccc;
}

table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

table.report td,table.report th {
	font: menu;
}

table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

table.report idcol {
	background: buttonface;
}

table.report tr.even {
	background-color: #399;
}

table.report tbody {
	height: 100px;
	overflow: auto;
}

table.report {
	height: 120px;
	overflow: auto;
}

table.report tbody tr {
	height: 10px;
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.simple td.textRed {
	color: #b11;
}

table.monitor thead tr {
	background:#ECE9D8;
    color:#333;
    height:23px;
    text-align:left;
}

table.monitor tr.even {
	background:#fff; text-align:left; height:26px;
}

table.monitor tr.odd {
	background:#F6F6F9; text-align:left; height:26px;
}
table.monitor {
	background:#D9D9D9; width:100%; text-align:left;
}
table.monitor td {
	text-align:left;
}
span.pagebanner {
	background:#B1C9D3; height:27px; width:100%;
}
span.pagelinks {
	background:#B1C9D3;
	border: 1px dotted #999;	
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
}
div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 100%;
}