$pojo.getPackageDeclaration()

$secondpassclassimports
$importDeclaration
/**
 * Data access object (DAO) for domain model
 * @author MyEclipse Persistence Tools
 */
public class BaseHibernateDAO implements IBaseHibernateDAO {
	
	public $pojo.importType("org.hibernate.Session") getSession() {
		return ${pojo.importType(${sessionFactoryClass})}.getSession();
	}
	
}