$pojo.getPackageDeclaration()

$secondpassclassimports

/**
 * Data access interface for domain model
 * @author MyEclipse Persistence Tools
 */
public interface IBaseHibernateDAO {
	public $pojo.importType("org.hibernate.Session") getSession();
}