<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/axis/</param-value>
	</context-param>
	<context-param>
		<param-name>company_web_id</param-name>
		<param-value>liferay.com</param-value>
	</context-param>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.liferay.portal.spring.context.PortalWebApplicationContext</param-value>
	</context-param>
	<filter>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>axis.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure JSONServlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>json.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure LiferayServlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>tunnel.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure SpringServlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>spring.remoting.servlet.</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Secure WebDAVServlet Filter</filter-name>
		<filter-class>com.liferay.portal.kernel.servlet.PortalClassLoaderFilter</filter-class>
		<init-param>
			<param-name>filter-class</param-name>
			<param-value>com.liferay.filters.secure.SecureFilter</param-value>
		</init-param>
		<init-param>
			<param-name>portal_property_prefix</param-name>
			<param-value>webdav.servlet.</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<url-pattern>/axis/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure AxisServlet Filter</filter-name>
		<url-pattern>/secure/axis/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure JSONServlet Filter</filter-name>
		<url-pattern>/json/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure JSONServlet Filter</filter-name>
		<url-pattern>/secure/json/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure LiferayServlet Filter</filter-name>
		<url-pattern>/liferay/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure LiferayServlet Filter</filter-name>
		<url-pattern>/secure/liferay/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure SpringServlet Filter</filter-name>
		<url-pattern>/spring/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure SpringServlet Filter</filter-name>
		<url-pattern>/secure/spring/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure WebDAVServlet Filter</filter-name>
		<url-pattern>/webdav/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Secure WebDAVServlet Filter</filter-name>
		<url-pattern>/secure/webdav/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.SpringServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.TunnelContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.AxisServlet</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>JSONServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.JSONServlet</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LiferayServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.servlet.TunnelServlet</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SpringServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.spring.servlet.RemotingServlet</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WebDAVServlet - Document Library</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.webdav.WebDAVServlet</param-value>
		</init-param>
		<init-param>
			<param-name>storage-class</param-name>
			<param-value>com.liferay.portlet.documentlibrary.webdav.DLWebDAVStorageImpl</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>WebDAVServlet - Journal</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalClassLoaderServlet</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.webdav.WebDAVServlet</param-value>
		</init-param>
		<init-param>
			<param-name>storage-class</param-name>
			<param-value>com.liferay.portlet.journal.webdav.JournalWebDAVStorageImpl</param-value>
		</init-param>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/secure/axis/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONServlet</servlet-name>
		<url-pattern>/secure/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiferayServlet</servlet-name>
		<url-pattern>/liferay/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LiferayServlet</servlet-name>
		<url-pattern>/secure/liferay/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpringServlet</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SpringServlet</servlet-name>
		<url-pattern>/secure/spring/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebDAVServlet - Document Library</servlet-name>
		<url-pattern>/secure/webdav/document_library/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebDAVServlet - Journal</servlet-name>
		<url-pattern>/secure/webdav/journal/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>/secure/axis/*</web-resource-name>
			<url-pattern>/secure/axis/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>/secure/json/*</web-resource-name>
			<url-pattern>/secure/json/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>/secure/liferay/*</web-resource-name>
			<url-pattern>/secure/liferay/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>/secure/spring/*</web-resource-name>
			<url-pattern>/secure/spring/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>/secure/webdav/*</web-resource-name>
			<url-pattern>/secure/webdav/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>PortalRealm</realm-name>
	</login-config>
	<security-role>
		<role-name>users</role-name>
	</security-role>
</web-app>