<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %caller{0} - %msg%n</pattern>
			<!-- %logger{36}.%M:%L -->
		</encoder>
	</appender>
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/sungard-smartcard-bccsvr.log</File>
		<encoder>
			<pattern>%d [%t] %-5p [%c] - %m%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
	<logger name="com.sungard.smartcard.bccsvr.BccServerThread"
		level="ERROR" />
	<!-- <logger name="com.sungard" level="DEBUG" /> -->
</configuration>