#foreach($importKey in $cfg.imports.keySet())
#set ($importDef = $cfg.imports.get($importKey))
#if(!$importKey.equals($importDef))
    <import 
        class="$importKey"
        rename="$importDef"
    />
#end
#end
