/* CSS Document */
@charset "utf-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
	SCROLLBAR-FACE-COLOR:#D8D8D8;
	SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
	SCROLLBAR-SHADOW-COLOR:#FFFFFF;
	SCROLLBAR-3DLIGHT-COLOR:#F3F3F3;
	SCROLLBAR-ARROW-COLOR:#939393;
	SCROLLBAR-TRACK-COLOR:#ffffff;
	SCROLLBAR-DARKSHADOW-COLOR:#F3F3F3;
}
td{
	font-size:12px;
	line-height:20px;
}
ul{
	margin:0px;padding:0;
}
li{
	margin:0px;padding:0px;list-style-type:none;
}
div{
	font-size:12px;
	margin:0 auto;
}
/*默认超链接样式*/
a:link{
	color:#2E2E2E;text-decoration:none;
}
a:visited{
	color:#2E2E2E;text-decoration:none;
}

a:hover{
	color:#2E2E2E;text-decoration:underline;
}
a:active{
	color:#2E2E2E; text-decoration:none;
}

/*head*/
#top{ background: url(images/top_bg.gif) repeat-x; height:57px; width:100%; }
#top_left{ float:left; background:url(images/logo.gif) no-repeat;width:100%; height:57px;}
#top_right{ float:right; width:350px;height:32px; padding:25px 0 0 13px;color:#fff; }
#line{ background:#8793A6; widows:100%;height:5px;}
.left_top{ background:url(images/left_top.gif) no-repeat #01538E left; width:100%; height:78px;}
.title{ width:100% !important; width:101%;height:30px; background:#D5D5D5; border-bottom:0px solid #85969D;padding-left:11px; padding-top:8px; margin-left:-11px}
.arrow{ background:url(images/arrow.gif) no-repeat left; text-align:left; padding-left:18px; margin-left:5px}

#boot{text-align:center; background:#C6DAE4; height:20px; width:100%; clear:both; border-top:0px solid #fff; font-family:Arial, Helvetica, sans-serif; padding-top:10px}