#set( $value = $property.value )
#set( $dependentValue = ${value.getKey()} )

#if(${c2h.isOneToMany(${value.getElement()})})
#set( $toManyElement = 'one-to-many' )
#set( $toManyClass = ${value.getElement().getAssociatedClass().getEntityName()} )
#else
## many-to-one not valid
#set( $toManyElement = 'many-to-many' )
#set( $toManyClass = ${value.getElement().getType().getAssociatedEntityName()} )
#end

<array name="$property.name" cascade="$property.cascade" 
#if($c2h.hasFetchMode($property)) fetch="$fetch" #end
       >
    <key> 
       #foreach($column in ${dependentValue.getColumnIterator()})
         #parse("hbm/column.hbm.vm")
   #end
</key>
    <list-index>
       #foreach($column in ${value.getIndex().getColumnIterator()})
         #parse("hbm/column.hbm.vm")
   #end
    </list-index>
<$toManyElement class="$toManyClass" />
</array>