body,td,th {
	font-size: 12px;
}
body { 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
SCROLLBAR-FACE-COLOR:#D8D8D8;
SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;
SCROLLBAR-SHADOW-COLOR:#FFFFFF;
SCROLLBAR-3DLIGHT-COLOR:#F3F3F3;
SCROLLBAR-ARROW-COLOR:#939393;
SCROLLBAR-TRACK-COLOR:#ffffff;
SCROLLBAR-DARKSHADOW-COLOR:#F3F3F3;
}
a.topmenu_link{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link:link{font-size: 14px;text-decoration:none;}
a.topmenu_link:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link:visited{font-size: 14px;text-decoration:none;}


a.topmenu_link_2{font-size: 14px;color: #634D21;text-decoration:none;}
a.topmenu_link_2:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_2:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_2:visited{font-size: 14px;text-decoration:none;}



a.topmenu_link_12{font-size: 12px;color: #000000;text-decoration:none;}
a.topmenu_link_12:link{font-size: 12px;text-decoration:none;}
a.topmenu_link_12:hover{font-size: 12px;color: #b48a20;text-decoration:none;}
a.topmenu_link_12:visited{font-size: 12px;text-decoration:none;}


a.topmenu_link_14{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link_14:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_14:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_14:visited{font-size: 14px;text-decoration:none;}
.portlet-msg-error{font-size: 12px;color: #ff0000;text-decoration:none;}
.portlet-msg-success {font-size: 12px;color: #007f00;text-decoration:none;}

.uitag-class {font-size:12px;width: 350;height:150; text-decoration:none;}

.bottom{font-size: 14px}

.topmenu_on{font-size: 14px;color: #b48a20;}

.red_text{color:#FF0000;}

.tdborder01 {
	BORDER-BOTTOM: #C2C2C2 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #C2C2C2 0px dotted; BORDER-TOP: #C2C2C2 0px dotted
}

.tdborder02 {
	BORDER-BOTTOM: #9695BD 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #C2C2C2 0px dotted; BORDER-TOP: #C2C2C2 0px dotted
}


.tdborder03 {
	BORDER-BOTTOM: #399ED6 1px dotted; BORDER-LEFT: #399ED6 1px dotted; BORDER-RIGHT: #399ED6 1px dotted; BORDER-TOP: #399ED6 1px dotted
}

.tableHeader {
	background-color: #308dbb;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	margin: 0;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}

.medium{
font-size:14px; line-height: 150%; }

.medium2{
font-size:14px; line-height: 150%; color:#ffffff; font-weight:bold; }