body,td,th {
	font-size: 12px;
}
body { 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
SCROLLBAR-FACE-COLOR:#EDEBED;
SCROLLBAR-HIGHLIGHT-COLOR:#D8D8D8;
SCROLLBAR-SHADOW-COLOR:#DEDBDE;
SCROLLBAR-3DLIGHT-COLOR:#F3F3F3;
SCROLLBAR-ARROW-COLOR:#ffffff;
SCROLLBAR-TRACK-COLOR:#FFFFFF;
SCROLLBAR-DARKSHADOW-COLOR:#D8D8D8;
}
a:link{
color:#000000;
font-size:13px;}
a:hover{
color:#000000;
font-size:13px;}
a:visited{
font-size:13px;}
a.topmenu_link{font-size: 14px;color: #000000;}
a.topmenu_link:link{font-size: 14px;}
a.topmenu_link:hover{font-size: 14px;color:#77575E;}
a.topmenu_link:visited{font-size: 14px;}


a.topmenu_link_2{font-size: 14px;color: #634D21;text-decoration:none;}
a.topmenu_link_2:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_2:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_2:visited{font-size: 14px;text-decoration:none;}



a.topmenu_link_12{font-size: 12px;color: #000000;text-decoration:none;}
a.topmenu_link_12:link{font-size: 12px;text-decoration:none;}
a.topmenu_link_12:hover{font-size: 12px;color: #b48a20;text-decoration:none;}
a.topmenu_link_12:visited{font-size: 12px;text-decoration:none;}


a.topmenu_link_14{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link_14:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_14:hover{font-size: 14px;color: #b48a20;text-decoration:none;}
a.topmenu_link_14:visited{font-size: 14px;text-decoration:none;}

.bottom{font-size: 12px; color: #FFFFFF;}

.topmenu_on{font-size: 14px;color: #b48a20;}

.red_text{color:#FF0000;}

.tdborder01 {
	BORDER-BOTTOM: #F1A7A4 0px dotted; BORDER-LEFT: #F1A7A4 0px dotted; BORDER-RIGHT: #F1A7A4 1px dotted; BORDER-TOP: #F1A7A4 0px dotted
}

.tdborder02 {
	BORDER-BOTTOM: #000000 1px dotted; BORDER-LEFT: #C2C2C2 0px dotted; BORDER-RIGHT: #C2C2C2 0px dotted; BORDER-TOP: #C2C2C2 0px dotted
}


.tdborder03 {
	BORDER-BOTTOM: #399ED6 1px dotted; BORDER-LEFT: #399ED6 1px dotted; BORDER-RIGHT: #399ED6 1px dotted; BORDER-TOP: #399ED6 1px dotted
}

.small{
font-size:12px; line-height: 120%; }

.small1{
font-size:10px; line-height: 50%; }


.medium{
font-size:14px; line-height: 150%; }

.medium2{
font-size:14px; line-height: 150%; color:#ffffff; font-weight:bold; }




.tableHeader {
	background-color: #D0B7B9;
        font-family:宋体;
	font-size:14px;
	text-align:center;

}


.tableHeader2 {
	background-color: #DCC9CA;
        font-family:宋体;
	font-size: 14px;
	text-align: right;
       
}

.tableHeader3 {
	background-color: #ECE6E6;
        font-family:宋体;
	font-size: 12px;
	text-align: left;
       
}

.tableHeader4 {
	background-color: #CBC0A9;
      font-family:宋体;
	font-size:14px;
	text-align:center;

}



.tableHeader5 {
	background-color: #D0B7B9;
        font-family:宋体;
	font-size:14px;
	text-align:right;

}



.tableHeaderSort {
	background-color: #3a95c2;
	color: white;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 4;
	padding-bottom: 4;
	border-right-style: solid;
	border-right-width: 1px;
	border-color: white;
}



.button_nor{
	width:56px;
	height:20px;
	color:#000000;
	background-image:url(../images/button.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 2px 0px 0px 0px;
}

.button_nor2{
	width:90px;
	height:20px;
	color:#000000;
	background-image:url(../images/button2.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 2px 0px 0px 0px;
}
.button_nor3{
	width:26px;
	height:20px;
	color:#000000;
	background-image:url(../images/button3.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 2px 0px 0px 0px;
}

button{
	width:70px;
	height:20px;
	color:#000000;
	background-image:url(../images/button.jpg);
	border: 0px;
	cursor: hand;
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;
	background-position: bottom;
	}


.input_box{
height:16px;
border:#000000 solid 1px;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
}

.input_boxread{
height:16px;
width:120px;
border:#000000 solid 1px;
background:#E6E6E6;
margin:0px;
padding:0px;
FONT-SIZE: 12px;
}
.graduate_select{
padding:5px 0px;
}
.graduate_search{
text-align:right;
padding:5px 3px 0px 0px;
}
.advitise{ font-size:13px;
padding:5px 10px;
line-height:20px;
}