<?xml version="1.0"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}:%L] %m%n" />
		</layout>
	</appender>

	<category name="com.germinus.easyconf">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.documentlibrary">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.filters">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.filters.compression">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.filters.doubleclick">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.filters.strip">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.jdbc">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.bean.BeanLocatorImpl">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.comm.CommLink">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portal.deploy">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.deploy.hot.ThemeLoaderHotDeployListener">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.editor">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.EventsProcessor">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.FixOracleAction">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.events.GarbageCollectorAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.LogMemoryUsageAction">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portal.events.LoginPostAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.LoginPreAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.LogoutPostAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.LogoutPreAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.LogSessionIdAction">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portal.events.LogThreadCountAction">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portal.events.ServicePreAction">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.ShutdownHook">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.events.StartupAction">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.kernel.bean.BeanLocatorUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.kernel.deploy">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.kernel.util.JavaProps">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.kernel.util.ServerDetector">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.lucene">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.lucene.LuceneFileExtractor">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.model.Image">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.model.ModelHintsUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.security.auth.LDAPAuth">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.security.ldap">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.security.permission.PermissionCheckerImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.security.permission.ResourceActionsUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.security.pwd.RegExpToolkit">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.service.impl.LayoutLocalServiceImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.service.impl.PermissionLocalServiceImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.service.impl.PortalServiceImpl">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.service.impl.PortletLocalServiceImpl">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.service.impl.ResourceLocalServiceImpl">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.service.impl.ThemeServiceImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.service.persistence.PermissionPool">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.service.persistence.ResourcePool">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.FriendlyURLServlet">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.servlet.ImageServlet">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.LanguageServlet">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.servlet.MainServlet">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.PortalSessionListener">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.SharedSessionUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.filters">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.filters.velocity.VelocityFilter">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.servlet.filters.virtualhost.VirtualHostFilter">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.smtp.SubEthaMessageListenerImpl">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portal.spring">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.spring.hibernate.CustomSQLUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.spring.hibernate.DynamicDialect">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.struts">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.struts.MultiMessageResources">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.struts.PortletRequestProcessor">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.struts.StrutsURLEncoder">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.struts.StrutsUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.theme.ThemeLoader">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.upgrade">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.util">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.util.EntityResolver">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.util.PortalInstances">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.util.SAXReaderFactory">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portal.velocity">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.velocity.ClassLoaderVelocityResourceListener">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.velocity.LiferayResourceLoader">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.velocity.ServletVelocityResourceListener">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.velocity.VelocityContextPool">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.verify">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portal.webdav">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portal.wsrp">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.CachePortlet">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.RenderRequestFactory">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.RenderResponseFactory">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.admin">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.admin.action.EditServerAction">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portlet.alfrescocontent">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portlet.alfrescocontent.util.AlfrescoOpenSearchImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.documentlibrary.webdav">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portlet.enterpriseadmin.action.EditUserPortraitAction">
		<priority value="INFO" />
	</category>

	<category name="com.liferay.portlet.journal">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.journal.lar.JournalContentPortletDataHandlerImpl">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portlet.journal.util.JournalUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.mail">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.portlet.messageboards.service.impl.MBMessageLocalServiceImpl">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.portlet.messageboards.smtp.MessageListenerImpl">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portlet.shopping.action.PayPalNotificationAction">
		<priority value="DEBUG" />
	</category>

	<category name="com.liferay.portlet.wsrp">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.util.JNDIUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.util.ImageUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.util.dao">
		<priority value="ERROR" />
	</category>

	<category name="com.liferay.util.mail">
		<priority value="WARN" />
	</category>

	<category name="com.liferay.util.servlet.ServletResponseUtil">
		<priority value="ERROR" />
	</category>

	<category name="com.opensymphony.oscache">
		<priority value="ERROR" />
	</category>

	<category name="com.opensymphony.oscache.plugins.clustersupport.JavaGroupsBroadcastingListener">
		<priority value="ERROR" />
	</category>

	<category name="com.sample">
		<priority value="INFO" />
	</category>

	<category name="com.sun.faces">
		<priority value="ERROR" />
	</category>

	<category name="de.nava.informa">
		<priority value="ERROR" />
	</category>

	<category name="httpclient.wire">
		<priority value="ERROR" />
	</category>

	<category name="net.sf.hibernate">
		<priority value="WARN" />
	</category>

	<category name="org.apache.activemq">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.axis">
		<priority value="INFO" />
	</category>

	<category name="org.apache.bsf">
		<priority value="FATAL" />
	</category>

	<category name="org.apache.commons.digester">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.commons.beanutils">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.commons.fileupload">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.commons.httpclient">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.commons.validator">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.jackrabbit">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.myfaces">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.struts">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.velocity">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.wsrp4j">
		<priority value="ERROR" />
	</category>

	<category name="org.apache.xbean">
		<priority value="ERROR" />
	</category>

	<category name="org.hibernate">
		<priority value="ERROR" />
	</category>

	<category name="org.jgroups">
		<priority value="ERROR" />
	</category>

	<category name="org.openid4java">
		<priority value="ERROR" />
	</category>

	<category name="org.pdfbox">
		<priority value="INFO" />
	</category>

	<category name="org.portletbridge">
		<priority value="INFO" />
	</category>

	<category name="org.quartz">
		<priority value="ERROR" />
	</category>

	<category name="org.springframework">
		<priority value="ERROR" />
	</category>

	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>