#是否显示打印对话框,用于选择打印机,设置打印属性等
showDialog=false
#设置打印机名称,如果该属性为空,系统将寻找默认打印机
#Microsoft XPS Document Writer,CutePDF Writer,\\kngsshasv010\9F_printer
printService=
#打印起始位置：行,>=1
startRow=1
#打印起始位置：列,>=1
startColumn=1
#字体名称
fontName=宋体
#打印字体大小
fontSize=12
#打印页面宽度，单位毫米
pageWidth=56
#打印页面高度，单位毫米，高度必须大于宽度
pageHeight=100
#操作员编号
operCode=001
#bcc server drtp(can not use 127.0.0.1)
drtpip1=127.0.0.1
#windowbu third part system interface drtp
drtpip2=127.0.0.1
#bcc server drtp port
drtpport1=4000
#window bu drtp port
drtpport2=4000
#bcc main function
mainfunction1=6000
#windowbu main function
mainfunction2=6000
#unfroze card
unfroze_card=846308
cpackfile=cpack.dat
#同一张卡做解冻的有效间隔时间，单位毫秒
unfroze_timeout=5000
#读卡器端口
port=100
#波特率
baud=115200
#密钥值，从t_syspara中获取paraid=2006的记录的paraval值
#mifare1key=C29F8B450E5A78EA
#卡状态字段的索引值
CF_CARDSTATUS=7
#卡状态值--冻结
froze_status=3
