body,td,th {
	font-size: 14px;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a.topmenu_link{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link:link{font-size: 14px;text-decoration:none;}
a.topmenu_link:hover{font-size: 14px;text-decoration:none;}
a.topmenu_link:visited{font-size: 14px;text-decoration:none;}

a.topmenu_link_12{font-size: 14px;color: #000000;text-decoration:none;}
a.topmenu_link_12:link{font-size: 14px;text-decoration:none;}
a.topmenu_link_12:hover{font-size: 14px;text-decoration:none;}
a.topmenu_link_12:visited{font-size: 14px;text-decoration:none;}

a.link_12_line{font-size: 12px;color: #000000;text-decoration:underline;}
a.link_12_line:link{font-size: 12px;text-decoration:underline;}
a.link_12_line:hover{font-size: 12px;color: #b48a20;text-decoration:underline;}
a.link_12_line:visited{font-size: 12px;text-decoration:underline;}

.portlet-msg-error{font-size: 12px;color: #ff0000;text-decoration:none;}
.portlet-msg-success {font-size: 12px;color: #007f00;text-decoration:none;}

.topmenu_on{font-size: 14px;color: #b48a20;}
.red_text{color:#FF0000;}

.bg_table table{background-color:#E6E6E6; border:0px;}
.inside_table{border:0px; margin:0px; padding:1px;}
.list_tr td{background-color:#dadbd5; height:20px;border:0px;}
.tr_1 td{background-color:#eff0eb; height:20px;border:0px;}
.tr_2 td{background-color:#FFFFFF; height:20px;border:0px;}