/*后台管理界面Style*/
body {
    text-align: center;
}

table {
    font-size: 12px;
    border-collapse: collapse
}

td.left {
    color: #336699;
    text-align: right;
    padding-right: 20px;
    border: #a8cbf1 1px solid;
    background-color: #f1f1f1
}

td.right {
    color: #336699;
    padding-left: 10px;
    border: #a8cbf1 1px solid;
    background-color: #ffffff
}

td.bottom {
    color: #336699;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
}

A:link, a:visited {
    color: #336699;
    text-decoration: none
}

A:active {
    color: #ff0000;
    text-decoration: none
}

A:hover {
    color: #6A9BCC;
    text-decoration: underline
}

.pageTitle {
    font-size: 18px;
    font-weight: bold;
    color: #1a7cdf;
    line-height: 28px;
    letter-spacing: 10px;
    text-decoration: none;
    text-align: left;
    padding:5px 0px 10px 40px;
    background: url(../images/icon/32x32/pageTitle.gif) no-repeat;
}

.border {
    border: #7f7f7f 1px solid;
}

/*Login Style*/
#login {
    width: 780px;
    height: 500px;
    margin: 0px;
    text-align: center;
}
#loginHead{
	width: 780px;
	height: 50px;
}
#loginHead .logo{
	width: 300px;
	height: 65px;
	float: left;
}
#loginHead .topbar{
	width: 450px;
	line-height:25px;
    margin-top: 30px;
    text-align: right;
    float: left
}

#loginContent{
	width: 780px;
	height: 400px;
	padding: 20px 20px 20px;
}

#loginHint{
	width: 430px;
    font: 14px;
    padding: 20px;
	float: left;
	text-align: justify;

}
.hintTitle{
	color: #0882CE;
	padding: 20px;
    margin-left:10px;
    font:bold;
    background: url(../images/icon/16x16/blue_dot.gif) no-repeat left;
}

#loginForm{
	width: 270px;
	float: left;
	padding: 20px;
	float: left;
}

.login_table_bg{
	width: 270px;
    background: #cccccc
}
.login_table {
	border: #FFFFFF 2px solid;
	margin: 1px;
	background: #efefef
}

#loginFoot{
	width: 720px;
	background: #BEE5FE;
	height: 25px;
    line-height:25px;
    overflow:hidden;
    margin-left: 30px;   
}

#operationDiv{
	float: left;    
}

.operations{
	float:right;
	width: 60%;
	text-align: right;
	margin: 5px 30px 0px 0px;
	height: 20px;
	line-height:20px;
	overflow: hidden;
}

.message {
	float:left;
	width: 25%;
    font-weight: bold;
    color: red;
    background: transparent;
    text-align: left;
    margin-left: 20px
}

#tableDiv{
	float: left; 
}


div.error, div.message {
    background-color: #ffffcc;
    border: 1px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 10px auto;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
	border: 2px solid red;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

span.fieldError {
    color: red;
    font-size: .95em;
    font-weight: bold;
}

