#if(!$metaattributable)
	#set($metaattributable = $property) 
#end
#set($metaattributes = $metaattributable.getMetaAttributes())
#if($metaattributes)
	#foreach($metakey in $metaattributes.keySet().iterator())
		#foreach($metavalue in $metaattributes.get($metakey).iterator())
			<meta attribute = "$metakey" inherit = "false">$metavalue</meta>			
		#end
	#end	
#end