    <one-to-one
	    name="${property.name}"
	    class="${c2j.getJavaTypeName($property, false)}"
#if( !$property.basicPropertyAccessor)
        access="${property.propertyAccessorName}"
#end
#if( $property.cascade != "none")
        cascade="${property.cascade}"
#end
#if( $property.value.constrained)
        constrained="true"
#end

#if( $property.value.hasFormula())
$set( $formula = $c2h.getFormulaForProperty($property))
#if( $formula)
        $formula="${formula.text}"
#end
#end
    >
   </one-to-one>
