#set( $value = $property.value )
#set( $table = ${value.getElement().getTable().getName()} )
#set( $dependentValue = ${value.getKey()} )

<primitive-array name="$property.name" table="$table">
#parse("hbm/meta.hbm.vm")
<key>
       #foreach($column in ${dependentValue.getColumnIterator()})
         #parse("hbm/column.hbm.vm")
   #end
</key>
<index>
       #foreach($column in ${value.getIndex().getColumnIterator()})
         #parse("hbm/column.hbm.vm")
   #end
</index>
<element type="${value.getElementClass()}" >
       #foreach($column in ${value.getElement().getColumnIterator()})
         #parse("hbm/column.hbm.vm")
   #end
</element>
</primitive-array>